In [2]:
from pprint import pprint

import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt

from acquisition import get_news_articles

/Users/taco/Documents/Coding/Codeup/CourseWork/ds-methodologies-exercises/nlp/acquisition.py:41: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 41 of the file /Users/taco/Documents/Coding/Codeup/CourseWork/ds-methodologies-exercises/nlp/acquisition.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  soup = BeautifulSoup(response.text)
/Users/taco/Documents/Coding/Codeup/CourseWork/ds-methodologies-exercises/nlp/acquisition.py:132: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 132 of the file /Users/taco/Documents/Coding/Codeup/CourseWork/ds-methodologies-exercises/nlp/acquisition.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  soup = BeautifulSoup(response.text)

In [4]:
df = get_news_articles()

In [6]:
art = df[0]

In [7]:
art

{'title': "4th richest man Buffett says Tesla can't sell insurance, Musk responds",
 'content': 'After world\'s fourth-richest person Warren Buffett claimed carmaker Tesla cannot sell insurance, Tesla\'s CEO Elon Musk responded with a series of tweets on Sunday. In his first tweet, Musk urged users to buy Tesla Model 3, claiming it\'s cheaper than a Honda Accord. "Also 1000 times more fun!" and "That\'s a direct quote from Warren Buffett," his next tweets read.',
 'category': 'business'}

In [15]:
tf = pd.Series(art['content'].split()).value_counts()
tf

a                 3
Warren            2
tweets            2
Musk              2
his               2
Tesla             2
than              1
3,                1
series            1
Honda             1
to                1
Tesla's           1
sell              1
claimed           1
responded         1
cheaper           1
Model             1
world's           1
After             1
more              1
fun!"             1
insurance,        1
In                1
tweet,            1
read.             1
it's              1
fourth-richest    1
Accord.           1
times             1
cannot            1
with              1
next              1
claiming          1
"That's           1
first             1
and               1
quote             1
Buffett,"         1
users             1
of                1
on                1
1000              1
CEO               1
"Also             1
person            1
from              1
urged             1
carmaker          1
Elon              1
Buffett           1
buy               1
direct            1
Sunday.           1
dtype: int64

In [13]:
pd.Series(art['content'].split()).value_counts(normalize=True)

a                 0.050000
Warren            0.033333
tweets            0.033333
Musk              0.033333
his               0.033333
Tesla             0.033333
than              0.016667
3,                0.016667
series            0.016667
Honda             0.016667
to                0.016667
Tesla's           0.016667
sell              0.016667
claimed           0.016667
responded         0.016667
cheaper           0.016667
Model             0.016667
world's           0.016667
After             0.016667
more              0.016667
fun!"             0.016667
insurance,        0.016667
In                0.016667
tweet,            0.016667
read.             0.016667
it's              0.016667
fourth-richest    0.016667
Accord.           0.016667
times             0.016667
cannot            0.016667
with              0.016667
next              0.016667
claiming          0.016667
"That's           0.016667
first             0.016667
and               0.016667
quote             0.016667
Buffett,"         0.016667
users             0.016667
of                0.016667
on                0.016667
1000              0.016667
CEO               0.016667
"Also             0.016667
person            0.016667
from              0.016667
urged             0.016667
carmaker          0.016667
Elon              0.016667
Buffett           0.016667
buy               0.016667
direct            0.016667
Sunday.           0.016667
dtype: float64

In [21]:
len(art['content'])

364

In [24]:
freq_df = (pd.DataFrame({'raw_count': pd.Series(art['content'].split()).value_counts()})
 .assign(frequency=lambda df: df.raw_count / df.raw_count.sum())
 .assign(augmented_frequency=lambda df: df.frequency / df.frequency.max()))

In [26]:
freq_df

                raw_count  frequency  augmented_frequency
a                       3   0.050000             1.000000
Warren                  2   0.033333             0.666667
tweets                  2   0.033333             0.666667
Musk                    2   0.033333             0.666667
his                     2   0.033333             0.666667
Tesla                   2   0.033333             0.666667
than                    1   0.016667             0.333333
3,                      1   0.016667             0.333333
series                  1   0.016667             0.333333
Honda                   1   0.016667             0.333333
to                      1   0.016667             0.333333
Tesla's                 1   0.016667             0.333333
sell                    1   0.016667             0.333333
claimed                 1   0.016667             0.333333
responded               1   0.016667             0.333333
cheaper                 1   0.016667             0.333333
Model                   1   0.016667             0.333333
world's                 1   0.016667             0.333333
After                   1   0.016667             0.333333
more                    1   0.016667             0.333333
fun!"                   1   0.016667             0.333333
insurance,              1   0.016667             0.333333
In                      1   0.016667             0.333333
tweet,                  1   0.016667             0.333333
read.                   1   0.016667             0.333333
it's                    1   0.016667             0.333333
fourth-richest          1   0.016667             0.333333
Accord.                 1   0.016667             0.333333
times                   1   0.016667             0.333333
cannot                  1   0.016667             0.333333
with                    1   0.016667             0.333333
next                    1   0.016667             0.333333
claiming                1   0.016667             0.333333
"That's                 1   0.016667             0.333333
first                   1   0.016667             0.333333
and                     1   0.016667             0.333333
quote                   1   0.016667             0.333333
Buffett,"               1   0.016667             0.333333
users                   1   0.016667             0.333333
of                      1   0.016667             0.333333
on                      1   0.016667             0.333333
1000                    1   0.016667             0.333333
CEO                     1   0.016667             0.333333
"Also                   1   0.016667             0.333333
person                  1   0.016667             0.333333
from                    1   0.016667             0.333333
urged                   1   0.016667             0.333333
carmaker                1   0.016667             0.333333
Elon                    1   0.016667             0.333333
Buffett                 1   0.016667             0.333333
buy                     1   0.016667             0.333333
direct                  1   0.016667             0.333333
Sunday.                 1   0.016667             0.333333

In [36]:
# A simple way to calculate idf for demonstration. Note that this
# function relies on the globally defined documents variable.
def idf(word):
    n_occurences = sum([1 for doc in documents.values() if word in doc])
    return len(documents) / n_occurences

In [37]:
# Get a list of the unique words
unique_words = pd.Series(' '.join(art.values()).split()).unique()


# put the unique words into a data frame
(pd.DataFrame(dict(word=unique_words))
 # calculate the idf for each word
 .assign(idf=lambda df: df.word.apply(idf))
 # sort the data for presentation purposes
 .set_index('word')
 .sort_values(by='idf', ascending=False)
 .head(5))

NameError: name 'documents' is not defined