# Logistic Regression with Titanic Dataset

In [51]:
from acquire import get_titanic_data

In [52]:
df = get_titanic_data()

In [53]:
df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1

In [54]:
df.dropna(inplace=True)

In [55]:
df.drop(columns=['deck'], inplace=True)

In [57]:
df.isnull().sum()

passenger_id    0
survived        0
pclass          0
sex             0
age             0
sibsp           0
parch           0
fare            0
embarked        0
class           0
embark_town     0
alone           0
dtype: int64

In [60]:
from sklearn import preprocessing

encoder = preprocessing.LabelEncoder()

df.embarked.fillna('Unknown', inplace=True)

encoder.fit(df.embarked)
df.embarked = encoder.transform(df.embarked)

df.embarked.head(10)

1     0
3     2
6     2
10    2
11    2
21    2
23    2
27    2
52    0
54    0
Name: embarked, dtype: int64

In [62]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df)

In [64]:
train.isnull().sum()

passenger_id    0
survived        0
pclass          0
sex             0
age             0
sibsp           0
parch           0
fare            0
embarked        0
class           0
embark_town     0
alone           0
dtype: int64

In [65]:
from sklearn.preprocessing import MinMaxScaler
#make the thing
scaler = MinMaxScaler()

#train the thing
scaler.fit(train[['fare','age']])
#use the thing
train[['fare','age']] = scaler.transform(train[['fare','age']])
test[['fare','age']] = scaler.transform(test[['fare','age']])


train[['age', 'fare']].head(10)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

          age      fare
618  0.038948  0.076123
52   0.607992  0.149765
429  0.393020  0.015713
257  0.367729  0.168837
748  0.228629  0.103644
262  0.645928  0.155466
540  0.443601  0.138583
245  0.544765  0.175668
345  0.291856  0.025374
194  0.544765  0.054107

In [66]:
train.isnull().sum()

passenger_id    0
survived        0
pclass          0
sex             0
age             0
sibsp           0
parch           0
fare            0
embarked        0
class           0
embark_town     0
alone           0
dtype: int64

In [67]:
from sklearn.linear_model import LogisticRegression

logit = LogisticRegression()

logit.fit(train[['pclass','age','fare','sibsp','parch']], train.survived)

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

## Fit the logistic regression classifier to your training sample and transform, i.e. make predictions on the training sample.

In [75]:
y_pred = logit.predict(train[['pclass','age','fare','sibsp','parch']])

In [76]:
y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1])

In [77]:
y_pred_proba = logit.predict_proba(train[['pclass','age','fare','sibsp','parch']])

In [79]:
y_pred_proba

array([[0.12715603, 0.87284397],
       [0.38977057, 0.61022943],
       [0.21930093, 0.78069907],
       [0.36044484, 0.63955516],
       [0.2702921 , 0.7297079 ],
       [0.40063805, 0.59936195],
       [0.38700705, 0.61299295],
       [0.30929898, 0.69070102],
       [0.26536102, 0.73463898],
       [0.43898252, 0.56101748],
       [0.3947656 , 0.6052344 ],
       [0.37922325, 0.62077675],
       [0.19161265, 0.80838735],
       [0.28311068, 0.71688932],
       [0.32557678, 0.67442322],
       [0.34094893, 0.65905107],
       [0.19199424, 0.80800576],
       [0.49018093, 0.50981907],
       [0.30630082, 0.69369918],
       [0.40233605, 0.59766395],
       [0.34271482, 0.65728518],
       [0.44397183, 0.55602817],
       [0.39764746, 0.60235254],
       [0.39881998, 0.60118002],
       [0.47979013, 0.52020987],
       [0.33867461, 0.66132539],
       [0.3433823 , 0.6566177 ],
       [0.33430021, 0.66569979],
       [0.44083864, 0.55916136],
       [0.51818342, 0.48181658],
       [0.3038835 , 0.6961165 ],
       [0.2620657 , 0.7379343 ],
       [0.34976301, 0.65023699],
       [0.3848265 , 0.6151735 ],
       [0.39957438, 0.60042562],
       [0.25158401, 0.74841599],
       [0.29800315, 0.70199685],
       [0.42288639, 0.57711361],
       [0.11251515, 0.88748485],
       [0.45023718, 0.54976282],
       [0.29283696, 0.70716304],
       [0.53863664, 0.46136336],
       [0.38526204, 0.61473796],
       [0.31209565, 0.68790435],
       [0.38017543, 0.61982457],
       [0.37370909, 0.62629091],
       [0.3422095 , 0.6577905 ],
       [0.35873897, 0.64126103],
       [0.39712379, 0.60287621],
       [0.30626953, 0.69373047],
       [0.15637113, 0.84362887],
       [0.31911016, 0.68088984],
       [0.31729068, 0.68270932],
       [0.37176793, 0.62823207],
       [0.45421903, 0.54578097],
       [0.52720715, 0.47279285],
       [0.32682163, 0.67317837],
       [0.3311258 , 0.6688742 ],
       [0.46695623, 0.53304377],
       [0.4023106 , 0.5976894 ],
       [0.3748976 , 0.6251024 ],
       [0.50463792, 0.49536208],
       [0.2848226 , 0.7151774 ],
       [0.31212405, 0.68787595],
       [0.48706995, 0.51293005],
       [0.44670358, 0.55329642],
       [0.4759515 , 0.5240485 ],
       [0.52444756, 0.47555244],
       [0.38532073, 0.61467927],
       [0.4709787 , 0.5290213 ],
       [0.47832782, 0.52167218],
       [0.3940784 , 0.6059216 ],
       [0.3144161 , 0.6855839 ],
       [0.3883295 , 0.6116705 ],
       [0.30399801, 0.69600199],
       [0.37368343, 0.62631657],
       [0.33237461, 0.66762539],
       [0.3430457 , 0.6569543 ],
       [0.35672062, 0.64327938],
       [0.18001216, 0.81998784],
       [0.39777692, 0.60222308],
       [0.60733869, 0.39266131],
       [0.29670586, 0.70329414],
       [0.51787186, 0.48212814],
       [0.31911016, 0.68088984],
       [0.33867461, 0.66132539],
       [0.32580904, 0.67419096],
       [0.23581387, 0.76418613],
       [0.15131579, 0.84868421],
       [0.49360614, 0.50639386],
       [0.30128719, 0.69871281],
       [0.19035316, 0.80964684],
       [0.4290472 , 0.5709528 ],
       [0.144706  , 0.855294  ],
       [0.18883175, 0.81116825],
       [0.2536262 , 0.7463738 ],
       [0.43492661, 0.56507339],
       [0.36768966, 0.63231034],
       [0.34203876, 0.65796124],
       [0.45141073, 0.54858927],
       [0.3868183 , 0.6131817 ],
       [0.40401027, 0.59598973],
       [0.26890137, 0.73109863],
       [0.12096443, 0.87903557],
       [0.30768041, 0.69231959],
       [0.39460857, 0.60539143],
       [0.33395728, 0.66604272],
       [0.34265928, 0.65734072],
       [0.2256995 , 0.7743005 ],
       [0.41218852, 0.58781148],
       [0.15388157, 0.84611843],
       [0.40301534, 0.59698466],
       [0.27714749, 0.72285251],
       [0.30455806, 0.69544194],
       [0.3317033 , 0.6682967 ],
       [0.26151263, 0.73848737],
       [0.40797439, 0.59202561],
       [0.3866603 , 0.6133397 ],
       [0.36990154, 0.63009846],
       [0.49487696, 0.50512304],
       [0.33563599, 0.66436401],
       [0.36455145, 0.63544855],
       [0.33633212, 0.66366788],
       [0.16133403, 0.83866597],
       [0.43002062, 0.56997938],
       [0.27272557, 0.72727443],
       [0.40400965, 0.59599035],
       [0.37041187, 0.62958813],
       [0.43773346, 0.56226654],
       [0.35625092, 0.64374908],
       [0.30166683, 0.69833317],
       [0.40271463, 0.59728537],
       [0.31777213, 0.68222787],
       [0.33539776, 0.66460224],
       [0.32709477, 0.67290523],
       [0.25517754, 0.74482246]])

## Evaluate your in-sample results using the model score, confusion matrix, and classification report.

In [89]:
train['prediction'] = y_pred

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [90]:
train.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone,prediction
618,618,1,2,female,0.038948,2,1,0.076123,2,Second,Southampton,0,1
52,52,1,1,female,0.607992,1,0,0.149765,0,First,Cherbourg,0,1
429,429,1,3,male,0.393020,0,0,0.015713,2,Third,Southampton,1,1
257,257,1,1,female,0.367729,0,0,0.168837,2,First,Southampton,1,1
748,748,0,1,male,0.228629,1,0,0.103644,2,First,Southampton,0,1

In [91]:
train.shape

(136, 13)

## Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

## Accuracy

In [88]:
print('The accuracy of the model is: ',logit.score(train[['pclass','age','fare','sibsp','parch']], train.survived))

The accuracy of the model is:  0.6911764705882353

In [82]:
from sklearn.metrics import confusion_matrix

In [83]:
print(confusion_matrix(train.survived, y_pred))

[[ 6 41]
 [ 1 88]]

## True Positive Rate

In [92]:
true_pos = 88

In [96]:
true_pos_rate = 88/136

print('True positive rate is', true_pos_rate)

True positive rate is, 0.6470588235294118

## False negative rate

In [97]:
false_neg = 1

In [98]:
false_neg_rate = 1/136

print('False negative rate is', false_neg_rate)

False negative rate is 0.007352941176470588

## Classification Report with precision, recall, f1-score and support.

In [85]:
from sklearn.metrics import classification_report

In [86]:
print(classification_report(train.survived, y_pred))

              precision    recall  f1-score   support

           0       0.86      0.13      0.22        47
           1       0.68      0.99      0.81        89

   micro avg       0.69      0.69      0.69       136
   macro avg       0.77      0.56      0.51       136
weighted avg       0.74      0.69      0.61       136

## Look in the scikit-learn documentation to research the solver parameter. What is your best option(s) for the particular problem you are trying to solve and the data to be used?
### The solver parameter is the optimization method (algorithm) used to find the best function. Liblinear is the default algorithm. I will use the 'sag' solver since it is faster for large datasets.

## Run through steps 2-4 using another solver (from question 5)

In [109]:
from sklearn.model_selection import train_test_split

train2, test2 = train_test_split(df)

## Sag solver

In [110]:
from sklearn.linear_model import LogisticRegression

logit_2 = LogisticRegression(solver='sag')

logit_2.fit(train2[['pclass','age','fare','sibsp','parch']], train2.survived)

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/sag.py:334: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='sag',
          tol=0.0001, verbose=0, warm_start=False)

In [111]:
y_pred_2 = logit_2.predict(train2[['pclass','age','fare','sibsp','parch']])

In [112]:
y_pred_proba_2 = logit_2.predict_proba(train2[['pclass','age','fare','sibsp','parch']])

In [113]:
print('The accuracy of the model is: ',logit_2.score(train2[['pclass','age','fare','sibsp','parch']], train2.survived))

The accuracy of the model is:  0.7058823529411765

## lbfgs Solver

In [116]:
from sklearn.linear_model import LogisticRegression

logit_3 = LogisticRegression(solver='lbfgs')

logit_3.fit(train2[['pclass','age','fare','sibsp','parch']], train2.survived)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [117]:
y_pred_2 = logit_3.predict(train2[['pclass','age','fare','sibsp','parch']])

In [118]:
y_pred_proba_2 = logit_3.predict_proba(train2[['pclass','age','fare','sibsp','parch']])

In [119]:
print('The accuracy of the model is: ',logit_3.score(train2[['pclass','age','fare','sibsp','parch']], train2.survived))

The accuracy of the model is:  0.7279411764705882

## Saga Solver

In [121]:
from sklearn.linear_model import LogisticRegression

logit_4 = LogisticRegression(solver='saga')

logit_4.fit(train2[['pclass','age','fare','sibsp','parch']], train2.survived)

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/sag.py:334: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='saga',
          tol=0.0001, verbose=0, warm_start=False)

In [122]:
y_pred_2 = logit_4.predict(train2[['pclass','age','fare','sibsp','parch']])

In [123]:
y_pred_proba_2 = logit_4.predict_proba(train2[['pclass','age','fare','sibsp','parch']])

In [124]:
print('The accuracy of the model is: ',logit_4.score(train2[['pclass','age','fare','sibsp','parch']], train2.survived))

The accuracy of the model is:  0.7058823529411765

## Newton-cg Solver

In [125]:
from sklearn.linear_model import LogisticRegression

logit_5 = LogisticRegression(solver='saga')

logit_5.fit(train2[['pclass','age','fare','sibsp','parch']], train2.survived)

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/sag.py:334: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='saga',
          tol=0.0001, verbose=0, warm_start=False)

In [126]:
y_pred_2 = logit_5.predict(train2[['pclass','age','fare','sibsp','parch']])

In [127]:
y_pred_proba_2 = logit_5.predict_proba(train2[['pclass','age','fare','sibsp','parch']])

In [128]:
print('The accuracy of the model is: ',logit_5.score(train2[['pclass','age','fare','sibsp','parch']], train2.survived))

The accuracy of the model is:  0.7058823529411765

## Which performs better on your in-sample data?
## Save the best model in logit_fit

### lbfgs performed best. It handles multinomial loss, meaning it can handle multiclassification problems.
### Saga has L1 penalty, meaning it might have more than one solution. It performed a little worse than lbfgs.
### Newton-cg also performed a little worse than lbfgs

In [129]:
logit_fit = logit_3

# Decision Tree with Titanic Dataset

In [130]:
df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone
1,1,1,1,female,38.0,1,0,71.2833,0,First,Cherbourg,0
3,3,1,1,female,35.0,1,0,53.1000,2,First,Southampton,0
6,6,0,1,male,54.0,0,0,51.8625,2,First,Southampton,1
10,10,1,3,female,4.0,1,1,16.7000,2,Third,Southampton,0
11,11,1,1,female,58.0,0,0,26.5500,2,First,Southampton,1

In [131]:
train.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone,prediction
618,618,1,2,female,0.038948,2,1,0.076123,2,Second,Southampton,0,1
52,52,1,1,female,0.607992,1,0,0.149765,0,First,Cherbourg,0,1
429,429,1,3,male,0.393020,0,0,0.015713,2,Third,Southampton,1,1
257,257,1,1,female,0.367729,0,0,0.168837,2,First,Southampton,1,1
748,748,0,1,male,0.228629,1,0,0.103644,2,First,Southampton,0,1

In [133]:
X = df[['pclass','age','fare','sibsp','parch']]
y = df[['survived']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123)

X_train.shape

(127, 5)

## Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample)

In [136]:
from sklearn.tree import DecisionTreeClassifier  
clf = DecisionTreeClassifier()  
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [137]:
y_pred = clf.predict(X_train)

In [138]:
y_pred_proba = clf.predict_proba(X_train)

## Evaluate your in-sample results using the model score, confusion matrix, and classification report.

### Accuracy

In [139]:
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(X_train, y_train)))

Accuracy of Decision Tree classifier on training set: 1.00

### Confusion Matrix

In [140]:
confusion_matrix(y_train, y_pred)

array([[46,  0],
       [ 0, 81]])

### Classification Report

In [141]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        46
           1       1.00      1.00      1.00        81

   micro avg       1.00      1.00      1.00       127
   macro avg       1.00      1.00      1.00       127
weighted avg       1.00      1.00      1.00       127

## Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

### True Positive Rate

In [143]:
true_pos = 81
true_pos_rate = 81/(81+46)
print('The true positive rate is', true_pos_rate)

The true positive rate is 0.6377952755905512

### False Positive Rate

In [144]:
print('The false positive rate is 0.')

The false positive rate is 0.

### False Negative Rate

In [ ]:
print('The false negative rate is 0.')

### Precision

In [145]:
print('Precision is 1.')

Precision is 1.

## Run through steps 2-4 using entropy as your measure of impurity.

In [146]:
clf_2 = DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=123)

### Fit the model

In [147]:
clf_2.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=123,
            splitter='best')

In [152]:
y_pred_2 = clf_2.predict(X_train)

In [153]:
y_pred_proba_2 = clf_2.predict_proba(X_train)

## Evaluate your in-sample results using the model score, confusion matrix, and classification report.

In [154]:
print('Accuracy of Second Decision Tree classifier on training set: {:.2f}'
     .format(clf_2.score(X_train, y_train)))

Accuracy of Second Decision Tree classifier on training set: 0.74

In [156]:
confusion_matrix(y_train, y_pred_2)

array([[28, 18],
       [15, 66]])

In [157]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.65      0.61      0.63        46
           1       0.79      0.81      0.80        81

   micro avg       0.74      0.74      0.74       127
   macro avg       0.72      0.71      0.71       127
weighted avg       0.74      0.74      0.74       127

## Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

### True Positive Rate

In [158]:
true_pos = 66
true_pos_rate = 66/(127)
print('The true positive rate is', true_pos_rate)

The true positive rate is 0.5196850393700787

### False Positive Rate

In [159]:
false_pos = 18
false_pos_rate = 18/127

print('The false positive rate is', false_pos_rate)

The false positive rate is 0.14173228346456693

### False Negative Rate

In [160]:
false_neg = 15
false_neg_rate = 15/127
print('The false negative rate is',false_neg_rate)

The false negative rate is 0.11811023622047244

### Precision

In [161]:
precision = true_pos/(true_pos+false_pos)
print('The precision is', precision)

The precision is 0.7857142857142857

In [162]:
tree_fit = clf

## Which performs better on your in-sample data? Save the best model in tree_fit

### The first (no 'entropy' as the gini impurity) method works better.

# Decision Tree with Iris Dataset

## Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample)

In [178]:
from pydataset import data
iris = data('iris')
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [179]:
iris.columns = [col.lower().replace('.', '_') for col in iris]

In [180]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [242]:
X = iris.drop(['species'],axis=1)
y = iris[['species']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .40, random_state = 12)

X_train.head()

     sepal_length  sepal_width  petal_length  petal_width
114           5.7          2.5           5.0          2.0
6             5.4          3.9           1.7          0.4
145           6.7          3.3           5.7          2.5
107           4.9          2.5           4.5          1.7
115           5.8          2.8           5.1          2.4

In [243]:
clf = DecisionTreeClassifier()

In [244]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [245]:
y_pred = clf.predict(X_train)
y_pred[0:5]

array(['virginica', 'setosa', 'virginica', 'virginica', 'virginica'],
      dtype=object)

In [246]:
y_pred_proba = clf.predict_proba(X_train)
y_pred_proba[0:5]

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])

In [247]:
import pandas as pd
predictions = pd.DataFrame(y_pred_proba)

In [248]:
predictions.sample(10)

      0    1    2
50  0.0  0.0  1.0
48  0.0  1.0  0.0
74  0.0  1.0  0.0
34  0.0  1.0  0.0
8   0.0  1.0  0.0
23  1.0  0.0  0.0
28  0.0  0.0  1.0
66  0.0  1.0  0.0
77  0.0  0.0  1.0
53  0.0  1.0  0.0

## Evaluate your in-sample results using the model score, confusion matrix, and classification report.

In [249]:
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(X_train, y_train)))

Accuracy of Decision Tree classifier on training set: 1.00

### Confusion Matrix

In [250]:
confusion_matrix(y_train, y_pred)

array([[24,  0,  0],
       [ 0, 31,  0],
       [ 0,  0, 35]])

In [251]:
sorted(y_train.species.unique())

['setosa', 'versicolor', 'virginica']

In [252]:
y_train.species.value_counts()

virginica     35
versicolor    31
setosa        24
Name: species, dtype: int64

In [253]:
import pandas as pd

labels = sorted(y_train.species.unique())

pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

            setosa  versicolor  virginica
setosa          24           0          0
versicolor       0          31          0
virginica        0           0         35

In [254]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        24
  versicolor       1.00      1.00      1.00        31
   virginica       1.00      1.00      1.00        35

   micro avg       1.00      1.00      1.00        90
   macro avg       1.00      1.00      1.00        90
weighted avg       1.00      1.00      1.00        90

## Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

### Accuracy

In [256]:
accuracy = (105)/105
print('The accuracy is', accuracy)

The accuracy is 1.0

### True Positive Rate

In [263]:
true_pos_rate = 105/105
print('The true positive rate is', true_pos_rate)

The true positive rate is 1.0

### False Positive Rate

In [264]:
false_pos_rate = 0/105
print('The false positive rate is', false_pos_rate)

The false positive rate is 0.0

### True Negative Rate

In [265]:
true_neg_rate = 0/105
print('The true negative rate is', true_neg_rate)

The true negative rate is 0.0

### False Negative Rate

In [266]:
false_neg_rate = 0/105
print('The true negative rate is', false_neg_rate)

The true negative rate is 0.0

## Run through steps 2-4 using entropy as your measure of impurity.

# Second run through with 'entropy' as measure of gini impurity

In [257]:
clf_2 = DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=12)

In [258]:
clf_2.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=12,
            splitter='best')

In [267]:
y_pred_2 = clf_2.predict(X_train)

In [268]:
y_pred_proba_2 = clf_2.predict_proba(X_train)

## Evaluate your in-sample results using the model score, confusion matrix, and classification report.

In [272]:
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf_2.score(X_train, y_train)))

Accuracy of Decision Tree classifier on training set: 0.98

In [273]:
confusion_matrix(y_train, y_pred_2)

array([[24,  0,  0],
       [ 0, 29,  2],
       [ 0,  0, 35]])

In [274]:
print(classification_report(y_train, y_pred_2))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        24
  versicolor       1.00      0.94      0.97        31
   virginica       0.95      1.00      0.97        35

   micro avg       0.98      0.98      0.98        90
   macro avg       0.98      0.98      0.98        90
weighted avg       0.98      0.98      0.98        90

## Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

### Accuracy

In [275]:
accuracy = (105-2)/105
print('The accuracy is', accuracy)

The accuracy is 0.9809523809523809

### True Positive Rate

In [276]:
true_pos_rate = 103/105
print('The true positive rate is', true_pos_rate)

The true positive rate is 0.9809523809523809

### False Positive Rate

In [277]:
false_pos_rate = 2/105
print('The false positive rate is', false_pos_rate)

The false positive rate is 0.01904761904761905

### True Negative Rate

In [278]:
print('The true negative rate is 0.')

The true negative rate is 0.

### False Negative Rate

In [279]:
print('The false negative rate is 0.')

The false negative rate is 0.

## Which performs better on your in-sample data?
## Save the best model in logit_fit

In [284]:
from sklearn.datasets import load_iris
from sklearn import tree

iris = load_iris()
clf = tree.DecisionTreeClassifier()
clf = clf.fit(iris.data, iris.target)

import graphviz

from graphviz import graph

dot_data = tree.export_graphviz(clf, out_file=None) 
graph = graphviz.Source(dot_data) 

graph.render('iris_decision_tree2', view=True)

ModuleNotFoundError: No module named 'graphviz'