In [320]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

# from acquire_zillow import get_zillow_data_2016
# from acquire_zillow import save_df_2016

# import summarize
# import prepare

## Alternate import: from local CSV file

In [321]:
path = '~/Documents/Coding/Codeup/Coursework/ds-methodologies-exercises/clustering/'
file1 = '2016_Zillow_Data.csv'

In [322]:
df_2016 = pd.read_csv(path+file1)
df_2016.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,propertylandusetypeid.1,propertylandusedesc,storytypeid.1,storydesc,typeconstructiontypeid.1,typeconstructiondesc,id.1,parcelid.1,logerror,transactiondate
0,2931667,11016594,1.00,nan,nan,2.00,3,nan,4.00,2.00,...,261,Single Family Residential,nan,NaN,nan,NaN,0,11016594,0.03,2016-01-01
1,475764,14366692,nan,nan,nan,3.50,4,nan,nan,3.50,...,261,Single Family Residential,nan,NaN,nan,NaN,1,14366692,-0.17,2016-01-01
2,2444575,12098116,1.00,nan,nan,3.00,2,nan,4.00,3.00,...,261,Single Family Residential,nan,NaN,nan,NaN,2,12098116,-0.00,2016-01-01
3,1584730,12643413,1.00,nan,nan,2.00,2,nan,4.00,2.00,...,266,Condominium,nan,NaN,nan,NaN,3,12643413,0.02,2016-01-02
4,2926916,14432541,nan,nan,nan,2.50,4,nan,nan,2.50,...,261,Single Family Residential,nan,NaN,nan,NaN,4,14432541,-0.01,2016-01-02

In [323]:
file2 = '2017_Zillow_Data.csv'

In [324]:
df_2017 = pd.read_csv(path+file2)
df_2017.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,propertylandusetypeid.1,propertylandusedesc,storytypeid.1,storydesc,typeconstructiontypeid.1,typeconstructiondesc,id.1,parcelid.1,logerror,transactiondate
0,1727539,14297519,nan,nan,nan,3.50,4.00,nan,nan,3.50,...,261.00,Single Family Residential,nan,NaN,nan,NaN,0,14297519,0.03,2017-01-01
1,1387261,17052889,nan,nan,nan,1.00,2.00,nan,nan,1.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,1,17052889,0.06,2017-01-01
2,11677,14186244,nan,nan,nan,2.00,3.00,nan,nan,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,2,14186244,0.01,2017-01-01
3,2288172,12177905,nan,nan,nan,3.00,4.00,nan,8.00,3.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,3,12177905,-0.10,2017-01-01
4,1970746,10887214,1.00,nan,nan,3.00,3.00,nan,8.00,3.00,...,266.00,Condominium,nan,NaN,nan,NaN,4,10887214,0.01,2017-01-01

In [325]:
df_2017.columns

Index(['id', 'parcelid', 'airconditioningtypeid', 'architecturalstyletypeid',
       'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingclasstypeid',
       'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid',
       'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15',
       'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt',
       'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet',
       'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt',
       'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock', 'airconditioningtypeid.1', 'airconditioningdesc',
       'architecturalstyletypeid.1', 'architecturalstyledesc',
       'buildingclasstypeid.1', 'buildingclassdesc', 'heatingorsystemtypeid.1',
       'heatingorsystemdesc', 'propertylandusetypeid.1', 'propertylandusedesc',
       'storytypeid.1', 'storydesc', 'typeconstructiontypeid.1',
       'typeconstructiondesc', 'id.1', 'parcelid.1', 'logerror',
       'transactiondate'],
      dtype='object')

In [326]:
df_2017.reset_index()

,index,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,propertylandusetypeid.1,propertylandusedesc,storytypeid.1,storydesc,typeconstructiontypeid.1,typeconstructiondesc,id.1,parcelid.1,logerror,transactiondate
0,0,1727539,14297519,nan,nan,nan,3.50,4.00,nan,nan,...,261.00,Single Family Residential,nan,NaN,nan,NaN,0,14297519,0.03,2017-01-01
1,1,1387261,17052889,nan,nan,nan,1.00,2.00,nan,nan,...,261.00,Single Family Residential,nan,NaN,nan,NaN,1,17052889,0.06,2017-01-01
2,2,11677,14186244,nan,nan,nan,2.00,3.00,nan,nan,...,261.00,Single Family Residential,nan,NaN,nan,NaN,2,14186244,0.01,2017-01-01
3,3,2288172,12177905,nan,nan,nan,3.00,4.00,nan,8.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,3,12177905,-0.10,2017-01-01
4,4,1970746,10887214,1.00,nan,nan,3.00,3.00,nan,8.00,...,266.00,Condominium,nan,NaN,nan,NaN,4,10887214,0.01,2017-01-01
5,5,1447245,17143294,nan,nan,nan,2.00,3.00,nan,nan,...,266.00,Condominium,nan,NaN,nan,NaN,5,17143294,-0.02,2017-01-01
6,6,781532,12095076,1.00,nan,nan,3.00,4.00,nan,9.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,6,12095076,-0.00,2017-01-01
7,7,870991,12069064,nan,nan,nan,1.00,2.00,nan,5.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,7,12069064,0.10,2017-01-01
8,8,1246926,12790562,nan,nan,nan,3.00,4.00,nan,9.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,8,12790562,-0.04,2017-01-02
9,9,1585097,11542646,nan,nan,nan,3.00,2.00,nan,8.00,...,266.00,Condominium,nan,NaN,nan,NaN,9,11542646,-0.04,2017-01-02
10,10,1639362,11104527,1.00,nan,nan,3.00,4.00,nan,8.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,10,11104527,0.01,2017-01-02
11,11,2963523,13984101,nan,nan,nan,0.00,0.00,nan,nan,...,246.00,"Duplex (2 Units, Any Combination)",nan,NaN,nan,NaN,11,13984101,-0.15,2017-01-02
12,12,2116302,14705431,nan,nan,nan,2.50,3.00,nan,nan,...,266.00,Condominium,nan,NaN,nan,NaN,12,14705431,-0.03,2017-01-02
13,13,249412,13944538,13.00,nan,nan,2.50,3.00,nan,nan,...,261.00,Single Family Residential,nan,NaN,nan,NaN,13,13944538,0.05,2017-01-02
14,14,2205733,14731691,nan,nan,nan,2.00,2.00,nan,nan,...,266.00,Condominium,nan,NaN,nan,NaN,14,14731691,-0.01,2017-01-02
15,15,43675,17110996,nan,nan,nan,2.50,3.00,nan,nan,...,261.00,Single Family Residential,nan,NaN,nan,NaN,15,17110996,0.01,2017-01-02
16,16,1548721,14375300,13.00,nan,nan,2.00,4.00,nan,nan,...,261.00,Single Family Residential,nan,NaN,nan,NaN,16,14375300,-0.02,2017-01-02
17,17,1169121,12045625,1.00,nan,nan,3.00,3.00,nan,8.00,...,266.00,Condominium,nan,NaN,nan,NaN,17,12045625,-0.02,2017-01-02
18,18,571930,11830315,nan,nan,nan,1.00,2.00,nan,4.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,18,11830315,-0.04,2017-01-02
19,19,2712452,14730402,nan,nan,nan,2.00,2.00,nan,nan,...,266.00,Condominium,nan,NaN,nan,NaN,19,14730402,-0.01,2017-01-02
20,20,2542130,12325145,1.00,nan,nan,2.00,3.00,nan,6.00,...,266.00,Condominium,nan,NaN,nan,NaN,20,12325145,0.04,2017-01-02
21,21,1623211,14387959,nan,nan,nan,2.50,3.00,nan,nan,...,261.00,Single Family Residential,nan,NaN,nan,NaN,21,14387959,-0.01,2017-01-02
22,22,1071020,14349322,nan,nan,nan,2.50,3.00,nan,nan,...,261.00,Single Family Residential,nan,NaN,nan,NaN,22,14349322,0.04,2017-01-02
23,23,1794752,11706737,nan,nan,nan,1.00,2.00,nan,5.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,23,11706737,-0.12,2017-01-02
24,24,1690166,11671335,1.00,nan,nan,3.00,2.00,nan,9.00,...,266.00,Condominium,nan,NaN,nan,NaN,24,11671335,-0.00,2017-01-02
25,25,1723297,12531488,nan,nan,nan,1.00,3.00,nan,4.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,25,12531488,0.04,2017-01-02
26,26,1578439,14314879,nan,nan,nan,4.50,6.00,nan,nan,...,261.00,Single Family Residential,nan,NaN,nan,NaN,26,14314879,-0.00,2017-01-02
27,27,1718341,11130689,1.00,nan,nan,2.00,3.00,nan,6.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,27,11130689,0.02,2017-01-02
28,28,707014,12036177,nan,nan,nan,2.00,3.00,nan,4.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,28,12036177,0.21,2017-01-02
29,29,1443971,14333888,nan,nan,nan,3.00,2.00,nan,nan,...,261.00,Single Family Residential,nan,NaN,nan,NaN,29,14333888,-0.03,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77583,77583,843538,12651460,nan,nan,nan,1.00,2.00,nan,5.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77583,12651460,0.09,2017-09-19
77584,77584,2417958,10962691,nan,nan,nan,2.00,3.00,nan,4.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77584,10962691,-0.06,2017-09-19
77585,77585,197689,11487400,nan,nan,nan,2.00,2.00,nan,7.00,...,266.00,Condominium,nan,NaN,nan,NaN,77585,11487400,0.05,2017-09-19
77586,77586,1319846,12433997,nan,nan,nan,1.00,2.00,nan,4.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77586,12433997,0.02,2017-09-19
77587,77587,2566638,10855745,1.00,nan,nan,3.00,3.00,nan,6.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77587,10855745,0.00,2017-09-19
77588,77588,248051,12883894,nan,nan,nan,1.00,3.00,nan,4.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77588,12883894,1.29,2017-09-19
77589,77589,620802,12885530,nan,nan,nan,1.00,2.00,nan,4.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77589,12885530,0.00,2017-09-19
77590,77590,2762482,11490983,nan,nan,nan,1.00,2.00,nan,8.00,...,266.00,Condominium,nan,NaN,nan,NaN,77590,11490983,-0.04,2017-09-19
77591,77591,1752516,12401161,nan,nan,nan,3.00,3.00,nan,9.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77591,12401161,-0.23,2017-09-19
77592,77592,2549729,11068972,1.00,nan,nan,5.00,4.00,nan,11.00,...,269.00,Planned Unit Development,nan,NaN,nan,NaN,77592,11068972,0.02,2017-09-19
77593,77593,2762480,11490089,nan,nan,nan,2.00,2.00,nan,8.00,...,266.00,Condominium,nan,NaN,nan,NaN,77593,11490089,0.07,2017-09-19
77594,77594,1006714,12406123,nan,nan,nan,2.00,2.00,nan,4.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77594,12406123,0.00,2017-09-19
77595,77595,2871267,12669704,nan,nan,nan,2.00,4.00,nan,8.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77595,12669704,0.05,2017-09-19
77596,77596,2900077,12410050,nan,nan,nan,1.00,2.00,nan,4.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77596,12410050,0.00,2017-09-19
77597,77597,2913200,11953526,nan,nan,nan,0.00,0.00,nan,nan,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77597,11953526,-0.16,2017-09-19
77598,77598,347372,11608641,nan,nan,nan,2.00,2.00,nan,6.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77598,11608641,-0.82,2017-09-19
77599,77599,1810799,11978003,1.00,nan,nan,2.00,3.00,nan,6.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77599,11978003,-0.06,2017-09-19
77600,77600,2747021,11318911,nan,nan,nan,1.00,1.00,nan,5.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77600,11318911,0.01,2017-09-19
77601,77601,1089830,10722237,1.00,nan,nan,1.00,2.00,nan,8.00,...,266.00,Condominium,nan,NaN,nan,NaN,77601,10722237,0.05,2017-09-19
77602,77602,80446,12055795,nan,nan,nan,1.00,2.00,nan,4.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77602,12055795,-0.14,2017-09-19
77603,77603,1635173,12892446,nan,nan,nan,3.00,4.00,nan,8.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77603,12892446,0.32,2017-09-19
77604,77604,1684937,12666457,nan,nan,nan,3.00,3.00,nan,10.00,...,266.00,Condominium,nan,NaN,nan,NaN,77604,12666457,0.03,2017-09-19
77605,77605,1642435,10858613,1.00,nan,nan,2.00,2.00,nan,8.00,...,266.00,Condominium,nan,NaN,nan,NaN,77605,10858613,-0.08,2017-09-19
77606,77606,1373391,10722691,1.00,nan,nan,2.00,3.00,nan,6.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77606,10722691,0.08,2017-09-19
77607,77607,2274245,12412492,nan,nan,nan,2.00,4.00,nan,6.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77607,12412492,0.00,2017-09-19
77608,77608,2864704,10833991,1.00,nan,nan,3.00,3.00,nan,8.00,...,266.00,Condominium,nan,NaN,nan,NaN,77608,10833991,-0.00,2017-09-20
77609,77609,673515,11000655,nan,nan,nan,2.00,2.00,nan,6.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77609,11000655,0.02,2017-09-20
77610,77610,2968375,17239384,nan,nan,nan,2.00,4.00,nan,nan,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77610,17239384,0.01,2017-09-21
77611,77611,1843709,12773139,1.00,nan,nan,1.00,3.00,nan,4.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77611,12773139,0.04,2017-09-21
77612,77612,1187175,12826780,nan,nan,nan,2.00,3.00,nan,6.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77612,12826780,0.01,2017-09-25

In [327]:
# Concatenates 2016 and 2017 df

In [328]:
df = pd.concat([df_2016, df_2017], axis=0)

## Summarize Data

In [285]:
def peekatdata(df):
    print("\nRows & Columns:\n")
    print(df.shape)
    print("\nColumn Info:\n")
    print(df.info())
    print("\nFirst 5 rows:\n")
    print(df.head())
    print("\nLast 5 rows:\n")
    print(df.tail())
    print("\nMissing Values:\n")
    missing_vals = df.columns[df.isnull().any()]
    print(df.isnull().sum())
    print("\nSummary Stats:\n")
    print(df.describe())
    return df

def df_value_counts(df):
    for col in df.columns: 
        n = df[col].unique().shape[0] 
        col_bins = min(n,10) 
        if df[col].dtype in ['int64','float64'] and n > 10:
            print('%s:' % col)
            print(df[col].value_counts(bins=col_bins, sort=False)) 
        else: 
            print(df[col].value_counts()) 
        print('\n')
    return df

In [286]:
peekatdata(df)

Rows & Columns:

(167888, 77)

Column Info:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167888 entries, 0 to 77612
Data columns (total 77 columns):
id                              167888 non-null int64
parcelid                        167888 non-null int64
airconditioningtypeid           53788 non-null float64
architecturalstyletypeid        468 non-null float64
basementsqft                    93 non-null float64
bathroomcnt                     167854 non-null float64
bedroomcnt                      167854 non-null float64
buildingclasstypeid             31 non-null float64
buildingqualitytypeid           107173 non-null float64
calculatedbathnbr               166056 non-null float64
decktypeid                      1272 non-null float64
finishedfloor1squarefeet        12893 non-null float64
calculatedfinishedsquarefeet    166992 non-null float64
finishedsquarefeet12            159519 non-null float64
finishedsquarefeet13            75 non-null float64
finishedsquarefeet15            6591 non-null float64
finishedsquarefeet50            12893 non-null float64
finishedsquarefeet6             807 non-null float64
fips                            167854 non-null float64
fireplacecnt                    17896 non-null float64
fullbathcnt                     166056 non-null float64
garagecarcnt                    55457 non-null float64
garagetotalsqft                 55457 non-null float64
hashottuborspa                  3904 non-null float64
heatingorsystemtypeid           105651 non-null float64
latitude                        167854 non-null float64
longitude                       167854 non-null float64
lotsizesquarefeet               149446 non-null float64
poolcnt                         34075 non-null float64
poolsizesum                     1838 non-null float64
pooltypeid10                    1626 non-null float64
pooltypeid2                     2278 non-null float64
pooltypeid7                     31776 non-null float64
propertycountylandusecode       167853 non-null object
propertylandusetypeid           167854 non-null float64
propertyzoningdesc              108789 non-null object
rawcensustractandblock          167854 non-null float64
regionidcity                    164579 non-null float64
regionidcounty                  167854 non-null float64
regionidneighborhood            66986 non-null float64
regionidzip                     167769 non-null float64
roomcnt                         167854 non-null float64
storytypeid                     93 non-null float64
threequarterbathnbr             22115 non-null float64
typeconstructiontypeid          522 non-null float64
unitcnt                         109056 non-null float64
yardbuildingsqft17              5039 non-null float64
yardbuildingsqft26              165 non-null float64
yearbuilt                       166828 non-null float64
numberofstories                 38169 non-null float64
fireplaceflag                   394 non-null float64
structuretaxvaluedollarcnt      167359 non-null float64
taxvaluedollarcnt               167852 non-null float64
assessmentyear                  167854 non-null float64
landtaxvaluedollarcnt           167851 non-null float64
taxamount                       167843 non-null float64
taxdelinquencyflag              4683 non-null object
taxdelinquencyyear              4683 non-null float64
censustractandblock             167002 non-null float64
airconditioningtypeid.1         53788 non-null float64
airconditioningdesc             53788 non-null object
architecturalstyletypeid.1      468 non-null float64
architecturalstyledesc          468 non-null object
buildingclasstypeid.1           31 non-null float64
buildingclassdesc               31 non-null object
heatingorsystemtypeid.1         105651 non-null float64
heatingorsystemdesc             105651 non-null object
propertylandusetypeid.1         167854 non-null float64
propertylandusedesc             167854 non-null object
storytypeid.1                   93 non-null float64
storydesc                       93 non-null object
typeconstructiontypeid.1        522 non-null float64
typeconstructiondesc            522 non-null object
id.1                            167888 non-null int64
parcelid.1                      167888 non-null int64
logerror                        167888 non-null float64
transactiondate                 167888 non-null object
dtypes: float64(62), int64(4), object(11)
memory usage: 99.9+ MB
None

First 5 rows:

        id  parcelid  airconditioningtypeid  architecturalstyletypeid  \
0  2931667  11016594                   1.00                       nan
1   475764  14366692                    nan                       nan
2  2444575  12098116                   1.00                       nan
3  1584730  12643413                   1.00                       nan
4  2926916  14432541                    nan                       nan

          basementsqft          bathroomcnt           bedroomcnt  \
0                  nan                 2.00                 3.00
1                  nan                 3.50                 4.00
2                  nan                 3.00                 2.00
3                  nan                 2.00                 2.00
4                  nan                 2.50                 4.00

   buildingclasstypeid  buildingqualitytypeid    calculatedbathnbr  \
0                  nan                   4.00                 2.00
1                  nan                    nan                 3.50
2                  nan                   4.00                 3.00
3                  nan                   4.00                 2.00
4                  nan                    nan                 2.50

        ...         propertylandusetypeid.1        propertylandusedesc  \
0       ...                          261.00  Single Family Residential
1       ...                          261.00  Single Family Residential
2       ...                          261.00  Single Family Residential
3       ...                          266.00                Condominium
4       ...                          261.00  Single Family Residential

         storytypeid.1  storydesc  typeconstructiontypeid.1  \
0                  nan        NaN                       nan
1                  nan        NaN                       nan
2                  nan        NaN                       nan
3                  nan        NaN                       nan
4                  nan        NaN                       nan

   typeconstructiondesc  id.1  parcelid.1             logerror  \
0                   NaN     0    11016594                 0.03
1                   NaN     1    14366692                -0.17
2                   NaN     2    12098116                -0.00
3                   NaN     3    12643413                 0.02
4                   NaN     4    14432541                -0.01

   transactiondate
0       2016-01-01
1       2016-01-01
2       2016-01-01
3       2016-01-02
4       2016-01-02

[5 rows x 77 columns]

Last 5 rows:

            id  parcelid  airconditioningtypeid  architecturalstyletypeid  \
77608  2864704  10833991                   1.00                       nan
77609   673515  11000655                    nan                       nan
77610  2968375  17239384                    nan                       nan
77611  1843709  12773139                   1.00                       nan
77612  1187175  12826780                    nan                       nan

              basementsqft          bathroomcnt           bedroomcnt  \
77608                  nan                 3.00                 3.00
77609                  nan                 2.00                 2.00
77610                  nan                 2.00                 4.00
77611                  nan                 1.00                 3.00
77612                  nan                 2.00                 3.00

       buildingclasstypeid  buildingqualitytypeid    calculatedbathnbr  \
77608                  nan                   8.00                 3.00
77609                  nan                   6.00                 2.00
77610                  nan                    nan                 2.00
77611                  nan                   4.00                 1.00
77612                  nan                   6.00                 2.00

            ...         propertylandusetypeid.1        propertylandusedesc  \
77608       ...                          266.00                Condominium
77609       ...                          261.00  Single Family Residential
77610       ...                          261.00  Single Family Residential
77611       ...                          261.00  Single Family Residential
77612       ...                          261.00  Single Family Residential

             storytypeid.1  storydesc  typeconstructiontypeid.1  \
77608                  nan        NaN                       nan
77609                  nan        NaN                       nan
77610                  nan        NaN                       nan
77611                  nan        NaN                       nan
77612                  nan        NaN                       nan

       typeconstructiondesc   id.1  parcelid.1             logerror  \
77608                   NaN  77608    10833991                -0.00
77609                   NaN  77609    11000655                 0.02
77610                   NaN  77610    17239384                 0.01
77611                   NaN  77611    12773139                 0.04
77612                   NaN  77612    12826780                 0.01

       transactiondate
77608       2017-09-20
77609       2017-09-20
77610       2017-09-21
77611       2017-09-21
77612       2017-09-25

[5 rows x 77 columns]

Missing Values:

id                                   0
parcelid                             0
airconditioningtypeid           114100
architecturalstyletypeid        167420
basementsqft                    167795
bathroomcnt                         34
bedroomcnt                          34
buildingclasstypeid             167857
buildingqualitytypeid            60715
calculatedbathnbr                 1832
decktypeid                      166616
finishedfloor1squarefeet        154995
calculatedfinishedsquarefeet       896
finishedsquarefeet12              8369
finishedsquarefeet13            167813
finishedsquarefeet15            161297
finishedsquarefeet50            154995
finishedsquarefeet6             167081
fips                                34
fireplacecnt                    149992
fullbathcnt                       1832
garagecarcnt                    112431
garagetotalsqft                 112431
hashottuborspa                  163984
heatingorsystemtypeid            62237
latitude                            34
longitude                           34
lotsizesquarefeet                18442
poolcnt                         133813
poolsizesum                     166050
                                 ...
yardbuildingsqft26              167723
yearbuilt                         1060
numberofstories                 129719
fireplaceflag                   167494
structuretaxvaluedollarcnt         529
taxvaluedollarcnt                   36
assessmentyear                      34
landtaxvaluedollarcnt               37
taxamount                           45
taxdelinquencyflag              163205
taxdelinquencyyear              163205
censustractandblock                886
airconditioningtypeid.1         114100
airconditioningdesc             114100
architecturalstyletypeid.1      167420
architecturalstyledesc          167420
buildingclasstypeid.1           167857
buildingclassdesc               167857
heatingorsystemtypeid.1          62237
heatingorsystemdesc              62237
propertylandusetypeid.1             34
propertylandusedesc                 34
storytypeid.1                   167795
storydesc                       167795
typeconstructiontypeid.1        167366
typeconstructiondesc            167366
id.1                                 0
parcelid.1                           0
logerror                             0
transactiondate                      0
Length: 77, dtype: int64

Summary Stats:

                        id             parcelid  airconditioningtypeid  \
count           167,888.00           167,888.00              53,788.00
mean          1,492,721.30        12,995,358.54                   1.81
std             860,262.71         3,016,071.40                   2.97
min                 349.00        10,711,738.00                   1.00
25%             748,650.75        11,548,985.75                   1.00
50%           1,494,060.00        12,540,601.00                   1.00
75%           2,238,568.00        14,219,303.00                   1.00
max           2,985,182.00       167,689,317.00                  13.00

       architecturalstyletypeid         basementsqft          bathroomcnt  \
count                    468.00                93.00           167,854.00
mean                       7.30               695.38                 2.29
std                        2.72               583.95                 1.00
min                        2.00                38.00                 0.00
25%                        7.00               280.00                 2.00
50%                        7.00               588.00                 2.00
75%                        7.00               819.00                 3.00
max                       21.00             3,560.00                20.00

                bedroomcnt  buildingclasstypeid  buildingqualitytypeid  \
count           167,854.00                31.00             107,173.00
mean                  3.04                 3.97                   6.02
std                   1.15                 0.18                   1.88
min                   0.00                 3.00                   1.00
25%                   2.00                 4.00                   4.00
50%                   3.00                 4.00                   7.00
75%                   4.00                 4.00                   7.00
max                  16.00                 4.00                  12.00

         calculatedbathnbr         ...           airconditioningtypeid.1  \
count           166,056.00         ...                         53,788.00
mean                  2.31         ...                              1.81
std                   0.98         ...                              2.97
min                   1.00         ...                              1.00
25%                   2.00         ...                              1.00
50%                   2.00         ...                              1.00
75%                   3.00         ...                              1.00
max                  20.00         ...                             13.00

       architecturalstyletypeid.1  buildingclasstypeid.1  \
count                      468.00                  31.00
mean                         7.30                   3.97
std                          2.72                   0.18
min                          2.00                   3.00
25%                          7.00                   4.00
50%                          7.00                   4.00
75%                          7.00                   4.00
max                         21.00                   4.00

       heatingorsystemtypeid.1  propertylandusetypeid.1        storytypeid.1  \
count               105,651.00               167,854.00                93.00
mean                      3.92                   261.83                 7.00
std                       3.64                     5.16                 0.00
min                       1.00                    31.00                 7.00
25%                       2.00                   261.00                 7.00
50%                       2.00                   261.00                 7.00
75%                       7.00                   266.00                 7.00
max                      24.00                   275.00                 7.00

       typeconstructiontypeid.1                 id.1           parcelid.1  \
count                    522.00           167,888.00           167,888.00
mean                       6.02            42,210.24        12,995,358.54
std                        0.49            24,641.50         3,016,071.40
min                        4.00                 0.00        10,711,738.00
25%                        6.00            20,985.75        11,548,985.75
50%                        6.00            41,971.50        12,540,601.00
75%                        6.00            62,957.25        14,219,303.00
max                       13.00            90,274.00       167,689,317.00

                  logerror
count           167,888.00
mean                  0.01
std                   0.17
min                  -4.66
25%                  -0.03
50%                   0.01
75%                   0.04
max                   5.26

[8 rows x 66 columns]

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,propertylandusetypeid.1,propertylandusedesc,storytypeid.1,storydesc,typeconstructiontypeid.1,typeconstructiondesc,id.1,parcelid.1,logerror,transactiondate
0,2931667,11016594,1.00,nan,nan,2.00,3.00,nan,4.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,0,11016594,0.03,2016-01-01
1,475764,14366692,nan,nan,nan,3.50,4.00,nan,nan,3.50,...,261.00,Single Family Residential,nan,NaN,nan,NaN,1,14366692,-0.17,2016-01-01
2,2444575,12098116,1.00,nan,nan,3.00,2.00,nan,4.00,3.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,2,12098116,-0.00,2016-01-01
3,1584730,12643413,1.00,nan,nan,2.00,2.00,nan,4.00,2.00,...,266.00,Condominium,nan,NaN,nan,NaN,3,12643413,0.02,2016-01-02
4,2926916,14432541,nan,nan,nan,2.50,4.00,nan,nan,2.50,...,261.00,Single Family Residential,nan,NaN,nan,NaN,4,14432541,-0.01,2016-01-02
5,2843942,11509835,1.00,nan,nan,4.00,4.00,nan,1.00,4.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,5,11509835,-0.27,2016-01-02
6,1628001,12286022,nan,nan,nan,1.00,2.00,nan,7.00,1.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,6,12286022,0.04,2016-01-02
7,2543293,17177301,nan,nan,nan,2.50,3.00,nan,nan,2.50,...,266.00,Condominium,nan,NaN,nan,NaN,7,17177301,0.16,2016-01-02
8,519006,14739064,nan,nan,nan,1.00,2.00,nan,nan,1.00,...,266.00,Condominium,nan,NaN,nan,NaN,8,14739064,-0.00,2016-01-02
9,1604540,14677559,nan,nan,nan,2.00,2.00,nan,nan,2.00,...,266.00,Condominium,nan,NaN,nan,NaN,9,14677559,0.08,2016-01-03
10,715639,10854446,nan,nan,nan,2.00,2.00,nan,7.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,10,10854446,0.38,2016-01-03
11,331651,11672170,1.00,nan,nan,4.00,5.00,nan,1.00,4.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,11,11672170,-0.02,2016-01-03
12,1147246,10949761,nan,nan,nan,2.00,3.00,nan,7.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,12,10949761,0.03,2016-01-03
13,2066485,14665244,nan,nan,nan,2.00,2.00,nan,nan,2.00,...,266.00,Condominium,nan,NaN,nan,NaN,13,14665244,0.08,2016-01-03
14,1335201,14148540,nan,nan,nan,2.00,2.00,nan,nan,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,14,14148540,-0.04,2016-01-03
15,2122993,14057104,5.00,nan,nan,2.00,3.00,nan,nan,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,15,14057104,0.00,2016-01-03
16,1235493,17296797,nan,nan,nan,2.50,3.00,nan,nan,2.50,...,265.00,Cluster Home,nan,NaN,nan,NaN,16,17296797,0.04,2016-01-03
17,141691,12524288,nan,nan,nan,1.00,1.00,nan,7.00,1.00,...,266.00,Condominium,nan,NaN,nan,NaN,17,12524288,-0.04,2016-01-03
18,978014,14091502,nan,nan,nan,2.00,3.00,nan,nan,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,18,14091502,-0.00,2016-01-03
19,403163,10815909,1.00,nan,nan,3.00,3.00,nan,4.00,3.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,19,10815909,0.01,2016-01-03
20,141379,12453853,nan,nan,nan,1.00,2.00,nan,7.00,1.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,20,12453853,-0.04,2016-01-03
21,1677874,14253461,13.00,nan,nan,2.00,2.00,nan,nan,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,21,14253461,0.02,2016-01-03
22,1483218,14001034,nan,nan,nan,2.00,4.00,nan,nan,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,22,14001034,0.01,2016-01-03
23,2665140,11458863,nan,nan,nan,4.00,3.00,nan,4.00,4.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,23,11458863,0.12,2016-01-03
24,2152173,13957980,nan,nan,nan,2.50,2.00,nan,nan,2.50,...,261.00,Single Family Residential,nan,NaN,nan,NaN,24,13957980,-0.17,2016-01-03
25,975491,12752047,1.00,nan,nan,4.00,3.00,nan,7.00,4.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,25,12752047,-0.04,2016-01-03
26,2292967,11188425,1.00,nan,nan,2.00,2.00,nan,4.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,26,11188425,-0.07,2016-01-03
27,444455,14646051,nan,nan,nan,2.50,2.00,nan,nan,2.50,...,266.00,Condominium,nan,NaN,6.00,Frame,27,14646051,0.01,2016-01-03
28,522034,10805063,1.00,nan,nan,2.00,2.00,nan,4.00,2.00,...,266.00,Condominium,nan,NaN,nan,NaN,28,10805063,0.00,2016-01-03
29,1807782,12524725,nan,nan,nan,3.00,2.00,nan,4.00,3.00,...,266.00,Condominium,nan,NaN,nan,NaN,29,12524725,-0.05,2016-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77583,843538,12651460,nan,nan,nan,1.00,2.00,nan,5.00,1.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77583,12651460,0.09,2017-09-19
77584,2417958,10962691,nan,nan,nan,2.00,3.00,nan,4.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77584,10962691,-0.06,2017-09-19
77585,197689,11487400,nan,nan,nan,2.00,2.00,nan,7.00,2.00,...,266.00,Condominium,nan,NaN,nan,NaN,77585,11487400,0.05,2017-09-19
77586,1319846,12433997,nan,nan,nan,1.00,2.00,nan,4.00,1.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77586,12433997,0.02,2017-09-19
77587,2566638,10855745,1.00,nan,nan,3.00,3.00,nan,6.00,3.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77587,10855745,0.00,2017-09-19
77588,248051,12883894,nan,nan,nan,1.00,3.00,nan,4.00,1.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77588,12883894,1.29,2017-09-19
77589,620802,12885530,nan,nan,nan,1.00,2.00,nan,4.00,1.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77589,12885530,0.00,2017-09-19
77590,2762482,11490983,nan,nan,nan,1.00,2.00,nan,8.00,1.00,...,266.00,Condominium,nan,NaN,nan,NaN,77590,11490983,-0.04,2017-09-19
77591,1752516,12401161,nan,nan,nan,3.00,3.00,nan,9.00,3.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77591,12401161,-0.23,2017-09-19
77592,2549729,11068972,1.00,nan,nan,5.00,4.00,nan,11.00,5.00,...,269.00,Planned Unit Development,nan,NaN,nan,NaN,77592,11068972,0.02,2017-09-19
77593,2762480,11490089,nan,nan,nan,2.00,2.00,nan,8.00,2.00,...,266.00,Condominium,nan,NaN,nan,NaN,77593,11490089,0.07,2017-09-19
77594,1006714,12406123,nan,nan,nan,2.00,2.00,nan,4.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77594,12406123,0.00,2017-09-19
77595,2871267,12669704,nan,nan,nan,2.00,4.00,nan,8.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77595,12669704,0.05,2017-09-19
77596,2900077,12410050,nan,nan,nan,1.00,2.00,nan,4.00,1.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77596,12410050,0.00,2017-09-19
77597,2913200,11953526,nan,nan,nan,0.00,0.00,nan,nan,nan,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77597,11953526,-0.16,2017-09-19
77598,347372,11608641,nan,nan,nan,2.00,2.00,nan,6.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77598,11608641,-0.82,2017-09-19
77599,1810799,11978003,1.00,nan,nan,2.00,3.00,nan,6.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77599,11978003,-0.06,2017-09-19
77600,2747021,11318911,nan,nan,nan,1.00,1.00,nan,5.00,1.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77600,11318911,0.01,2017-09-19
77601,1089830,10722237,1.00,nan,nan,1.00,2.00,nan,8.00,1.00,...,266.00,Condominium,nan,NaN,nan,NaN,77601,10722237,0.05,2017-09-19
77602,80446,12055795,nan,nan,nan,1.00,2.00,nan,4.00,1.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77602,12055795,-0.14,2017-09-19
77603,1635173,12892446,nan,nan,nan,3.00,4.00,nan,8.00,3.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77603,12892446,0.32,2017-09-19
77604,1684937,12666457,nan,nan,nan,3.00,3.00,nan,10.00,3.00,...,266.00,Condominium,nan,NaN,nan,NaN,77604,12666457,0.03,2017-09-19
77605,1642435,10858613,1.00,nan,nan,2.00,2.00,nan,8.00,2.00,...,266.00,Condominium,nan,NaN,nan,NaN,77605,10858613,-0.08,2017-09-19
77606,1373391,10722691,1.00,nan,nan,2.00,3.00,nan,6.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77606,10722691,0.08,2017-09-19
77607,2274245,12412492,nan,nan,nan,2.00,4.00,nan,6.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77607,12412492,0.00,2017-09-19
77608,2864704,10833991,1.00,nan,nan,3.00,3.00,nan,8.00,3.00,...,266.00,Condominium,nan,NaN,nan,NaN,77608,10833991,-0.00,2017-09-20
77609,673515,11000655,nan,nan,nan,2.00,2.00,nan,6.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77609,11000655,0.02,2017-09-20
77610,2968375,17239384,nan,nan,nan,2.00,4.00,nan,nan,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77610,17239384,0.01,2017-09-21
77611,1843709,12773139,1.00,nan,nan,1.00,3.00,nan,4.00,1.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77611,12773139,0.04,2017-09-21
77612,1187175,12826780,nan,nan,nan,2.00,3.00,nan,6.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77612,12826780,0.01,2017-09-25

In [287]:
df_value_counts(df)

id:
(-2635.8340000000003, 298832.3]    16864
(298832.3, 597315.6]               16755
(597315.6, 895798.9]               16605
(895798.9, 1194282.2]              16715
(1194282.2, 1492765.5]             16941
(1492765.5, 1791248.8]             16844
(1791248.8, 2089732.1]             16868
(2089732.1, 2388215.4]             16811
(2388215.4, 2686698.7]             16886
(2686698.7, 2985182.0]             16599
Name: id, dtype: int64


parcelid:
(10554760.42, 26409495.9]     167841
(26409495.9, 42107253.8]           0
(42107253.8, 57805011.7]           0
(57805011.7, 73502769.6]           0
(73502769.6, 89200527.5]           1
(89200527.5, 104898285.4]          4
(104898285.4, 120596043.3]         0
(120596043.3, 136293801.2]         0
(136293801.2, 151991559.1]         0
(151991559.1, 167689317.0]        42
Name: parcelid, dtype: int64


 1.00    49854
13.00     3408
 5.00      382
11.00      116
 9.00       27
 3.00        1
Name: airconditioningtypeid, dtype: int64


 7.00    394
 8.00     35
 2.00     16
21.00     15
 3.00      7
10.00      1
Name: architecturalstyletypeid, dtype: int64


basementsqft:
(34.477000000000004, 390.2]    31
(390.2, 742.4]                 32
(742.4, 1094.6]                14
(1094.6, 1446.8]                7
(1446.8, 1799.0]                5
(1799.0, 2151.2]                2
(2151.2, 2503.4]                0
(2503.4, 2855.6]                0
(2855.6, 3207.8]                1
(3207.8, 3560.0]                1
Name: basementsqft, dtype: int64


bathroomcnt:
(-0.021, 2.0]    100913
(2.0, 4.0]        61224
(4.0, 6.0]         5003
(6.0, 8.0]          617
(8.0, 10.0]          84
(10.0, 12.0]          9
(12.0, 14.0]          1
(14.0, 16.0]          1
(16.0, 18.0]          1
(18.0, 20.0]          1
Name: bathroomcnt, dtype: int64


bedroomcnt:
(-0.017, 1.6]      9546
(1.6, 3.2]       107463
(3.2, 4.8]        37830
(4.8, 6.4]        11747
(6.4, 8.0]          969
(8.0, 9.6]          161
(9.6, 11.2]          87
(11.2, 12.8]         38
(12.8, 14.4]          7
(14.4, 16.0]          6
Name: bedroomcnt, dtype: int64


4.00    30
3.00     1
Name: buildingclasstypeid, dtype: int64


buildingqualitytypeid:
(0.988, 2.1]     2662
(2.1, 3.2]        335
(3.2, 4.3]      33347
(4.3, 5.4]       2099
(5.4, 6.5]      13503
(6.5, 7.6]      35291
(7.6, 8.7]      14690
(8.7, 9.8]       2303
(9.8, 10.9]      1774
(10.9, 12.0]     1169
Name: buildingqualitytypeid, dtype: int64


calculatedbathnbr:
(0.98, 2.9]     113819
(2.9, 4.8]       48012
(4.8, 6.7]        3612
(6.7, 8.6]         520
(8.6, 10.5]         80
(10.5, 12.4]         9
(12.4, 14.3]         1
(14.3, 16.2]         1
(16.2, 18.1]         1
(18.1, 20.0]         1
Name: calculatedbathnbr, dtype: int64


66.00    1272
Name: decktypeid, dtype: int64


finishedfloor1squarefeet:
(36.418, 802.1]     2060
(802.1, 1560.2]     7216
(1560.2, 2318.3]    2753
(2318.3, 3076.4]     550
(3076.4, 3834.5]     187
(3834.5, 4592.6]      78
(4592.6, 5350.7]      28
(5350.7, 6108.8]      10
(6108.8, 6866.9]       8
(6866.9, 7625.0]       3
Name: finishedfloor1squarefeet, dtype: int64


calculatedfinishedsquarefeet:
(-33.638999999999996, 3565.8]    159086
(3565.8, 7129.6]                   7523
(7129.6, 10693.4]                   337
(10693.4, 14257.2]                   30
(14257.2, 17821.0]                    8
(17821.0, 21384.8]                    5
(21384.8, 24948.6]                    2
(24948.6, 28512.4]                    0
(28512.4, 32076.2]                    0
(32076.2, 35640.0]                    1
Name: calculatedfinishedsquarefeet, dtype: int64


finishedsquarefeet12:
(-19.928, 2194.7]     125263
(2194.7, 4387.4]       31355
(4387.4, 6580.1]        2369
(6580.1, 8772.8]         402
(8772.8, 10965.5]         89
(10965.5, 13158.2]        24
(13158.2, 15350.9]         8
(15350.9, 17543.6]         4
(17543.6, 19736.3]         2
(19736.3, 21929.0]         3
Name: finishedsquarefeet12, dtype: int64


finishedsquarefeet13:
(1055.471, 1108.8]     3
(1108.8, 1161.6]       3
(1161.6, 1214.4]       1
(1214.4, 1267.2]       5
(1267.2, 1320.0]       1
(1320.0, 1372.8]       9
(1372.8, 1425.6]       5
(1425.6, 1478.4]      36
(1478.4, 1531.2]       4
(1531.2, 1584.0]       8
Name: finishedsquarefeet13, dtype: int64


finishedsquarefeet15:
(524.919, 4068.0]     6141
(4068.0, 7576.0]       442
(7576.0, 11084.0]        5
(11084.0, 14592.0]       0
(14592.0, 18100.0]       0
(18100.0, 21608.0]       1
(21608.0, 25116.0]       1
(25116.0, 28624.0]       0
(28624.0, 32132.0]       0
(32132.0, 35640.0]       1
Name: finishedsquarefeet15, dtype: int64


finishedsquarefeet50:
(31.576, 1286.3]      6793
(1286.3, 2528.6]      5440
(2528.6, 3770.9]       500
(3770.9, 5013.2]       114
(5013.2, 6255.5]        25
(6255.5, 7497.8]        14
(7497.8, 8740.1]         5
(8740.1, 9982.4]         1
(9982.4, 11224.7]        0
(11224.7, 12467.0]       1
Name: finishedsquarefeet50, dtype: int64


finishedsquarefeet6:
(250.03199999999998, 953.7]    166
(953.7, 1650.4]                181
(1650.4, 2347.1]               142
(2347.1, 3043.8]                90
(3043.8, 3740.5]                97
(3740.5, 4437.2]                93
(4437.2, 5133.9]                27
(5133.9, 5830.6]                 7
(5830.6, 6527.3]                 3
(6527.3, 7224.0]                 1
Name: finishedsquarefeet6, dtype: int64


6,037.00    109270
6,059.00     45136
6,111.00     13448
Name: fips, dtype: int64


1.00    15183
2.00     2104
3.00      547
4.00       56
5.00        6
Name: fireplacecnt, dtype: int64


fullbathcnt:
(0.98, 2.9]     113853
(2.9, 4.8]       48023
(4.8, 6.7]        3583
(6.7, 8.6]         508
(8.6, 10.5]         76
(10.5, 12.4]         9
(12.4, 14.3]         1
(14.3, 16.2]         1
(16.2, 18.1]         1
(18.1, 20.0]         1
Name: fullbathcnt, dtype: int64


garagecarcnt:
(-0.025, 2.4]    53470
(2.4, 4.8]        1813
(4.8, 7.2]         144
(7.2, 9.6]          17
(9.6, 12.0]          8
(12.0, 14.4]         4
(14.4, 16.8]         0
(16.8, 19.2]         0
(19.2, 21.6]         0
(21.6, 24.0]         1
Name: garagecarcnt, dtype: int64


garagetotalsqft:
(-7.340000000000001, 733.9]    53807
(733.9, 1467.8]                 1567
(1467.8, 2201.7]                  54
(2201.7, 2935.6]                  18
(2935.6, 3669.5]                   6
(3669.5, 4403.4]                   4
(4403.4, 5137.3]                   0
(5137.3, 5871.2]                   0
(5871.2, 6605.1]                   0
(6605.1, 7339.0]                   1
Name: garagetotalsqft, dtype: int64


1.00    3904
Name: hashottuborspa, dtype: int64


heatingorsystemtypeid:
(0.976, 3.3]    71962
(3.3, 5.6]          0
(5.6, 7.9]      31373
(7.9, 10.2]         5
(10.2, 12.5]        3
(12.5, 14.8]      138
(14.8, 17.1]        0
(17.1, 19.4]       48
(19.4, 21.7]      201
(21.7, 24.0]     1921
Name: heatingorsystemtypeid, dtype: int64


latitude:
(33337815.527000003, 33487242.2]     2334
(33487242.2, 33635189.4]            11642
(33635189.4, 33783136.6]            22039
(33783136.6, 33931083.8]            31889
(33931083.8, 34079031.0]            30805
(34079031.0, 34226978.2]            40923
(34226978.2, 34374925.4]            13693
(34374925.4, 34522872.6]             6738
(34522872.6, 34670819.8]             5007
(34670819.8, 34818767.0]             2784
Name: latitude, dtype: int64


longitude:
(-119477336.781, -119283338.0]      455
(-119283338.0, -119091260.0]       4364
(-119091260.0, -118899182.0]       3169
(-118899182.0, -118707104.0]       5860
(-118707104.0, -118515026.0]      12716
(-118515026.0, -118322948.0]      33176
(-118322948.0, -118130870.0]      32895
(-118130870.0, -117938792.0]      31196
(-117938792.0, -117746714.0]      27647
(-117746714.0, -117554636.0]      16376
Name: longitude, dtype: int64


lotsizesquarefeet:
(-6803.844, 697251.3]     148831
(697251.3, 1394335.6]        497
(1394335.6, 2091419.9]        75
(2091419.9, 2788504.2]         3
(2788504.2, 3485588.5]         1
(3485588.5, 4182672.8]        24
(4182672.8, 4879757.1]         0
(4879757.1, 5576841.4]         0
(5576841.4, 6273925.7]         0
(6273925.7, 6971010.0]        15
Name: lotsizesquarefeet, dtype: int64


1.00    34075
Name: poolcnt, dtype: int64


poolsizesum:
(22.273, 196.6]      15
(196.6, 369.2]      178
(369.2, 541.8]      979
(541.8, 714.4]      468
(714.4, 887.0]      167
(887.0, 1059.6]      20
(1059.6, 1232.2]      7
(1232.2, 1404.8]      1
(1404.8, 1577.4]      1
(1577.4, 1750.0]      2
Name: poolsizesum, dtype: int64


1.00    1626
Name: pooltypeid10, dtype: int64


1.00    2278
Name: pooltypeid2, dtype: int64


1.00    31776
Name: pooltypeid7, dtype: int64

0100    57628
122     28450
010C    19102
0101    13848
34      10878
1111     7245
1        5314
010E     4339
010D     4155
0200     4000
1129     3023
1110     2142
0400     1369
0300     1063
012C      908
0104      717
1128      691
01DC      463
01HC      285
010V      245
38        200
96        195
0103      191
010G      174
010H      136
010M      112
0700      104
0108      103
1117      102
1210       89
        ...
1120        3
0111        3
030G        3
1722        3
1432        3
0301        3
0114        2
1012        2
1011        2
020M        2
0131        2
020E        1
8800        1
0210        1
6050        1
0204        1
0115        1
200         1
040B        1
040A        1
0133        1
0203        1
1420        1
010L        1
010         1
0303        1
1200        1
01DD        1
040G        1
0           1
Name: propertycountylandusecode, Length: 90, dtype: int64


propertylandusetypeid:
(30.755, 55.4]        33
(55.4, 79.8]           0
(79.8, 104.2]          0
(104.2, 128.6]         0
(128.6, 153.0]         0
(153.0, 177.4]         0
(177.4, 201.8]         0
(201.8, 226.2]         0
(226.2, 250.6]      7173
(250.6, 275.0]    160648
Name: propertylandusetypeid, dtype: int64


LAR1          14444
LAR3           5251
LARS           2897
LBR1N          2684
LARD1.5        2437
LAR2           2320
SCUR2          2061
LARD2          1815
LARA           1505
LARE11         1345
LARE15         1188
TORR-LO        1161
LCR1YY         1024
SCUR3           954
LAR4            915
LARD3           801
PSR6            787
LKR1YY          782
LCA11*          625
GLR1YY          625
LCR1*           621
PDR1*           615
LCA22*          598
LAC2            557
BUR1YY          524
LCA21*          522
CARS*           506
LBR2N           489
LCA25*          487
CORL*           475
              ...
BGC4*             1
WHRZ*             1
SRR2*             1
SDR1*             1
LAR1P             1
CVR1              1
MORM-P/QP*        1
SLR1A*            1
AHA21*            1
GAC3              1
IRM2              1
NOC3*             1
RMPD              1
MNRAYY            1
CECN*             1
HPM2YY            1
LBR4*             1
LRRR2.5           1
PD SFR-Z          1
WHRAYY            1
PDSD-15*          1
DORI05*           1
LRAA6500*         1
LCR112000-        1
LBR3L*            1
SRR111*           1
CLCV*             1
LCRA 30000        1
SSR1PUD*          1
LCR12000*         1
Name: propertyzoningdesc, Length: 2346, dtype: int64


rawcensustractandblock:
(60370272.019999996, 60444919.091]    109270
(60444919.091, 60518827.081]               0
(60518827.081, 60592735.071]           45136
(60592735.071, 60666643.061]               0
(60666643.061, 60740551.052]               0
(60740551.052, 60814459.042]               0
(60814459.042, 60888367.032]               0
(60888367.032, 60962275.022]               0
(60962275.022, 61036183.012]               0
(61036183.012, 61110091.002]           13448
Name: rawcensustractandblock, dtype: int64


regionidcity:
(3097.9339999999997, 42797.5]    120368
(42797.5, 82104.0]                39636
(82104.0, 121410.5]                2257
(121410.5, 160717.0]                  0
(160717.0, 200023.5]                  0
(200023.5, 239330.0]                  0
(239330.0, 278636.5]                 57
(278636.5, 317943.0]                  0
(317943.0, 357249.5]                  0
(357249.5, 396556.0]               2261
Name: regionidcity, dtype: int64


3,101.00    109270
1,286.00     45136
2,061.00     13448
Name: regionidcounty, dtype: int64


regionidneighborhood:
(6194.784, 82673.5]     24652
(82673.5, 158395.0]     10033
(158395.0, 234116.5]      109
(234116.5, 309838.0]    25265
(309838.0, 385559.5]      145
(385559.5, 461281.0]     4244
(461281.0, 537002.5]        0
(537002.5, 612724.0]        0
(612724.0, 688445.5]      166
(688445.5, 764167.0]     2372
Name: regionidneighborhood, dtype: int64


regionidzip:
(95678.306, 126351.3]    167744
(126351.3, 156720.6]          0
(156720.6, 187089.9]          0
(187089.9, 217459.2]          0
(217459.2, 247828.5]          0
(247828.5, 278197.8]          0
(278197.8, 308567.1]          0
(308567.1, 338936.4]          0
(338936.4, 369305.7]          0
(369305.7, 399675.0]         25
Name: regionidzip, dtype: int64


roomcnt:
(-0.019, 1.8]    129670
(1.8, 3.6]          508
(3.6, 5.4]         9605
(5.4, 7.2]        18208
(7.2, 9.0]         8837
(9.0, 10.8]         704
(10.8, 12.6]        287
(12.6, 14.4]         31
(14.4, 16.2]          3
(16.2, 18.0]          1
Name: roomcnt, dtype: int64


7.00    93
Name: storytypeid, dtype: int64


1.00    21934
2.00      165
3.00       14
7.00        1
4.00        1
Name: threequarterbathnbr, dtype: int64


 6.00    516
 4.00      3
13.00      2
10.00      1
Name: typeconstructiontypeid, dtype: int64


unitcnt:
(0.763, 24.6]     109051
(24.6, 48.2]           2
(48.2, 71.8]           1
(71.8, 95.4]           0
(95.4, 119.0]          0
(119.0, 142.6]         0
(142.6, 166.2]         1
(166.2, 189.8]         0
(189.8, 213.4]         0
(213.4, 237.0]         1
Name: unitcnt, dtype: int64


yardbuildingsqft17:
(7.819, 329.0]      3382
(329.0, 647.0]      1334
(647.0, 965.0]       226
(965.0, 1283.0]       66
(1283.0, 1601.0]      16
(1601.0, 1919.0]       6
(1919.0, 2237.0]       2
(2237.0, 2555.0]       2
(2555.0, 2873.0]       3
(2873.0, 3191.0]       2
Name: yardbuildingsqft17, dtype: int64


yardbuildingsqft26:
(10.645000000000001, 147.4]    79
(147.4, 282.8]                 35
(282.8, 418.2]                 19
(418.2, 553.6]                 11
(553.6, 689.0]                  6
(689.0, 824.4]                  1
(824.4, 959.8]                  4
(959.8, 1095.2]                 3
(1095.2, 1230.6]                5
(1230.6, 1366.0]                2
Name: yardbuildingsqft26, dtype: int64


yearbuilt:
(1823.807, 1843.2]        1
(1843.2, 1862.4]          0
(1862.4, 1881.6]          3
(1881.6, 1900.8]        183
(1900.8, 1920.0]       3772
(1920.0, 1939.2]      14536
(1939.2, 1958.4]      40250
(1958.4, 1977.6]      43705
(1977.6, 1996.8]      41424
(1996.8, 2016.0]      22954
Name: yearbuilt, dtype: int64


1.00    22413
2.00    14808
3.00      945
4.00        2
6.00        1
Name: numberofstories, dtype: int64


1.00    394
Name: fireplaceflag, dtype: int64


structuretaxvaluedollarcnt:
(-11377.747, 1142218.6]     166173
(1142218.6, 2284393.2]         973
(2284393.2, 3426567.8]         141
(3426567.8, 4568742.4]          37
(4568742.4, 5710917.0]          19
(5710917.0, 6853091.6]           5
(6853091.6, 7995266.2]           8
(7995266.2, 9137440.8]           0
(9137440.8, 10279615.4]          2
(10279615.4, 11421790.0]         1
Name: structuretaxvaluedollarcnt, dtype: int64


taxvaluedollarcnt:
(-49039.215, 4906143.4]     167448
(4906143.4, 9812264.8]         338
(9812264.8, 14718386.2]         47
(14718386.2, 19624507.6]         9
(19624507.6, 24530629.0]         5
(24530629.0, 29436750.4]         4
(29436750.4, 34342871.8]         0
(34342871.8, 39248993.2]         0
(39248993.2, 44155114.6]         0
(44155114.6, 49061236.0]         1
Name: taxvaluedollarcnt, dtype: int64


2,015.00    90275
2,016.00    77579
Name: assessmentyear, dtype: int64


landtaxvaluedollarcnt:
(-48930.176999999996, 4895239.6]    167670
(4895239.6, 9790457.2]                 148
(9790457.2, 14685674.8]                 22
(14685674.8, 19580892.4]                 8
(19580892.4, 24476110.0]                 1
(24476110.0, 29371327.6]                 1
(29371327.6, 34266545.2]                 0
(34266545.2, 39161762.8]                 0
(39161762.8, 44056980.4]                 0
(44056980.4, 48952198.0]                 1
Name: landtaxvaluedollarcnt, dtype: int64


taxamount:
(-566.6999999999999, 58681.858]    167441
(58681.858, 117343.796]               337
(117343.796, 176005.734]               45
(176005.734, 234667.672]               10
(234667.672, 293329.61]                 6
(293329.61, 351991.548]                 3
(351991.548, 410653.486]                0
(410653.486, 469315.424]                0
(469315.424, 527977.362]                0
(527977.362, 586639.3]                  1
Name: taxamount, dtype: int64


Y    4683
Name: taxdelinquencyflag, dtype: int64


taxdelinquencyyear:
(2.903, 12.6]     777
(12.6, 22.2]     3904
(22.2, 31.8]        0
(31.8, 41.4]        0
(41.4, 51.0]        0
(51.0, 60.6]        0
(60.6, 70.2]        0
(70.2, 79.8]        0
(79.8, 89.4]        0
(89.4, 99.0]        2
Name: taxdelinquencyyear, dtype: int64


censustractandblock:

(59948352007016.984, 102636920499301.5]    167001
(102636920499301.5, 144902829897603.0]          0
(144902829897603.0, 187168739295904.5]          0
(187168739295904.5, 229434648694206.03]         0
(229434648694206.03, 271700558092507.5]         0
(271700558092507.5, 313966467490809.0]          0
(313966467490809.0, 356232376889110.5]          0
(356232376889110.5, 398498286287411.94]         0
(398498286287411.94, 440764195685713.5]         0
(440764195685713.5, 483030105084015.0]          1
Name: censustractandblock, dtype: int64


 1.00    49854
13.00     3408
 5.00      382
11.00      116
 9.00       27
 3.00        1
Name: airconditioningtypeid.1, dtype: int64


Central               49854
Yes                    3408
None                    382
Wall Unit               116
Refrigeration            27
Evaporative Cooler        1
Name: airconditioningdesc, dtype: int64


 7.00    394
 8.00     35
 2.00     16
21.00     15
 3.00      7
10.00      1
Name: architecturalstyletypeid.1, dtype: int64


Contemporary         394
Conventional          35
Bungalow              16
Ranch/Rambler         15
Cape Cod               7
French Provincial      1
Name: architecturalstyledesc, dtype: int64


4.00    30
3.00     1
Name: buildingclasstypeid.1, dtype: int64


Buildings having wood or wood and steel frames                                                                                                                                                                                             30
Buildings having exterior walls built of a non-combustible material such as brick, concrete, block or poured concrete. Interior partitions and roof structures are built of combustible materials. Floor may be concrete or wood frame.     1
Name: buildingclassdesc, dtype: int64


heatingorsystemtypeid.1:
(0.976, 3.3]    71962
(3.3, 5.6]          0
(5.6, 7.9]      31373
(7.9, 10.2]         5
(10.2, 12.5]        3
(12.5, 14.8]      138
(14.8, 17.1]        0
(17.1, 19.4]       48
(19.4, 21.7]      201
(21.7, 24.0]     1921
Name: heatingorsystemtypeid.1, dtype: int64


Central       71936
Floor/Wall    29626
Yes            1921
Forced air     1747
Solar           201
None            136
Radiant          48
Baseboard        26
Gravity           5
Heat Pump         2
Other             2
Hot Water         1
Name: heatingorsystemdesc, dtype: int64


propertylandusetypeid.1:
(30.755, 55.4]        33
(55.4, 79.8]           0
(79.8, 104.2]          0
(104.2, 128.6]         0
(128.6, 153.0]         0
(153.0, 177.4]         0
(177.4, 201.8]         0
(201.8, 226.2]         0
(226.2, 250.6]      7173
(250.6, 275.0]    160648
Name: propertylandusetypeid.1, dtype: int64


Single Family Residential                     113078
Condominium                                    42157
Duplex (2 Units, Any Combination)               4397
Planned Unit Development                        4281
Quadruplex (4 Units, Any Combination)           1608
Triplex (3 Units, Any Combination)              1168
Cluster Home                                     691
Mobile Home                                      158
Manufactured, Modular, Prefabricated Homes       105
Residential General                              104
Cooperative                                       57
Commercial/Office/Residential Mixed Used          32
Townhouse                                         17
Store/Office (Mixed Use)                           1
Name: propertylandusedesc, dtype: int64


7.00    93
Name: storytypeid.1, dtype: int64


Basement    93
Name: storydesc, dtype: int64


 6.00    516
 4.00      3
13.00      2
10.00      1
Name: typeconstructiontypeid.1, dtype: int64


Frame       516
Concrete      3
Masonry       2
Metal         1
Name: typeconstructiondesc, dtype: int64


id.1:
(-90.275, 9027.4]     18056
(9027.4, 18054.8]     18054
(18054.8, 27082.2]    18056
(27082.2, 36109.6]    18054
(36109.6, 45137.0]    18056
(45137.0, 54164.4]    18054
(54164.4, 63191.8]    18054
(63191.8, 72219.2]    18056
(72219.2, 81246.6]    14420
(81246.6, 90274.0]     9028
Name: id.1, dtype: int64


parcelid.1:
(10554760.42, 26409495.9]     167841
(26409495.9, 42107253.8]           0
(42107253.8, 57805011.7]           0
(57805011.7, 73502769.6]           0
(73502769.6, 89200527.5]           1
(89200527.5, 104898285.4]          4
(104898285.4, 120596043.3]         0
(120596043.3, 136293801.2]         0
(136293801.2, 151991559.1]         0
(151991559.1, 167689317.0]        42
Name: parcelid.1, dtype: int64


logerror:
(-4.666, -3.664]         6
(-3.664, -2.672]         4
(-2.672, -1.68]         83
(-1.68, -0.688]        364
(-0.688, 0.304]     163696
(0.304, 1.296]        3417
(1.296, 2.287]         197
(2.287, 3.279]         111
(3.279, 4.271]           6
(4.271, 5.263]           4
Name: logerror, dtype: int64


2017-06-30    1195
2017-04-28     917
2016-07-29     910
2016-04-29     902
2016-09-30     894
2016-06-30     874
2017-05-31     868
2016-05-27     863
2017-07-28     815
2017-08-31     782
2017-03-31     772
2017-05-26     746
2016-08-31     737
2016-07-01     731
2017-06-16     728
2016-03-31     723
2017-06-23     707
2017-08-25     697
2016-07-15     693
2017-07-07     687
2017-09-01     670
2016-06-24     665
2016-07-22     653
2016-05-20     650
2016-10-14     646
2016-06-10     632
2016-10-07     631
2016-04-15     630
2016-08-26     627
2016-08-19     627
              ...
2016-04-16       2
2017-05-13       2
2017-09-09       2
2017-08-26       2
2016-12-25       2
2017-09-16       2
2016-07-09       2
2017-07-16       2
2016-11-24       2
2017-09-20       2
2016-02-13       2
2017-08-13       2
2016-03-13       2
2017-08-06       1
2017-03-12       1
2016-10-30       1
2017-04-15       1
2017-08-05       1
2017-08-12       1
2017-06-03       1
2017-02-18       1
2017-05-20       1
2017-07-22       1
2016-06-11       1
2017-04-08       1
2017-09-10       1
2017-07-09       1
2017-09-25       1
2016-01-16       1
2017-07-08       1
Name: transactiondate, Length: 616, dtype: int64

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,propertylandusetypeid.1,propertylandusedesc,storytypeid.1,storydesc,typeconstructiontypeid.1,typeconstructiondesc,id.1,parcelid.1,logerror,transactiondate
0,2931667,11016594,1.00,nan,nan,2.00,3.00,nan,4.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,0,11016594,0.03,2016-01-01
1,475764,14366692,nan,nan,nan,3.50,4.00,nan,nan,3.50,...,261.00,Single Family Residential,nan,NaN,nan,NaN,1,14366692,-0.17,2016-01-01
2,2444575,12098116,1.00,nan,nan,3.00,2.00,nan,4.00,3.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,2,12098116,-0.00,2016-01-01
3,1584730,12643413,1.00,nan,nan,2.00,2.00,nan,4.00,2.00,...,266.00,Condominium,nan,NaN,nan,NaN,3,12643413,0.02,2016-01-02
4,2926916,14432541,nan,nan,nan,2.50,4.00,nan,nan,2.50,...,261.00,Single Family Residential,nan,NaN,nan,NaN,4,14432541,-0.01,2016-01-02
5,2843942,11509835,1.00,nan,nan,4.00,4.00,nan,1.00,4.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,5,11509835,-0.27,2016-01-02
6,1628001,12286022,nan,nan,nan,1.00,2.00,nan,7.00,1.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,6,12286022,0.04,2016-01-02
7,2543293,17177301,nan,nan,nan,2.50,3.00,nan,nan,2.50,...,266.00,Condominium,nan,NaN,nan,NaN,7,17177301,0.16,2016-01-02
8,519006,14739064,nan,nan,nan,1.00,2.00,nan,nan,1.00,...,266.00,Condominium,nan,NaN,nan,NaN,8,14739064,-0.00,2016-01-02
9,1604540,14677559,nan,nan,nan,2.00,2.00,nan,nan,2.00,...,266.00,Condominium,nan,NaN,nan,NaN,9,14677559,0.08,2016-01-03
10,715639,10854446,nan,nan,nan,2.00,2.00,nan,7.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,10,10854446,0.38,2016-01-03
11,331651,11672170,1.00,nan,nan,4.00,5.00,nan,1.00,4.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,11,11672170,-0.02,2016-01-03
12,1147246,10949761,nan,nan,nan,2.00,3.00,nan,7.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,12,10949761,0.03,2016-01-03
13,2066485,14665244,nan,nan,nan,2.00,2.00,nan,nan,2.00,...,266.00,Condominium,nan,NaN,nan,NaN,13,14665244,0.08,2016-01-03
14,1335201,14148540,nan,nan,nan,2.00,2.00,nan,nan,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,14,14148540,-0.04,2016-01-03
15,2122993,14057104,5.00,nan,nan,2.00,3.00,nan,nan,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,15,14057104,0.00,2016-01-03
16,1235493,17296797,nan,nan,nan,2.50,3.00,nan,nan,2.50,...,265.00,Cluster Home,nan,NaN,nan,NaN,16,17296797,0.04,2016-01-03
17,141691,12524288,nan,nan,nan,1.00,1.00,nan,7.00,1.00,...,266.00,Condominium,nan,NaN,nan,NaN,17,12524288,-0.04,2016-01-03
18,978014,14091502,nan,nan,nan,2.00,3.00,nan,nan,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,18,14091502,-0.00,2016-01-03
19,403163,10815909,1.00,nan,nan,3.00,3.00,nan,4.00,3.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,19,10815909,0.01,2016-01-03
20,141379,12453853,nan,nan,nan,1.00,2.00,nan,7.00,1.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,20,12453853,-0.04,2016-01-03
21,1677874,14253461,13.00,nan,nan,2.00,2.00,nan,nan,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,21,14253461,0.02,2016-01-03
22,1483218,14001034,nan,nan,nan,2.00,4.00,nan,nan,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,22,14001034,0.01,2016-01-03
23,2665140,11458863,nan,nan,nan,4.00,3.00,nan,4.00,4.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,23,11458863,0.12,2016-01-03
24,2152173,13957980,nan,nan,nan,2.50,2.00,nan,nan,2.50,...,261.00,Single Family Residential,nan,NaN,nan,NaN,24,13957980,-0.17,2016-01-03
25,975491,12752047,1.00,nan,nan,4.00,3.00,nan,7.00,4.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,25,12752047,-0.04,2016-01-03
26,2292967,11188425,1.00,nan,nan,2.00,2.00,nan,4.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,26,11188425,-0.07,2016-01-03
27,444455,14646051,nan,nan,nan,2.50,2.00,nan,nan,2.50,...,266.00,Condominium,nan,NaN,6.00,Frame,27,14646051,0.01,2016-01-03
28,522034,10805063,1.00,nan,nan,2.00,2.00,nan,4.00,2.00,...,266.00,Condominium,nan,NaN,nan,NaN,28,10805063,0.00,2016-01-03
29,1807782,12524725,nan,nan,nan,3.00,2.00,nan,4.00,3.00,...,266.00,Condominium,nan,NaN,nan,NaN,29,12524725,-0.05,2016-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77583,843538,12651460,nan,nan,nan,1.00,2.00,nan,5.00,1.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77583,12651460,0.09,2017-09-19
77584,2417958,10962691,nan,nan,nan,2.00,3.00,nan,4.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77584,10962691,-0.06,2017-09-19
77585,197689,11487400,nan,nan,nan,2.00,2.00,nan,7.00,2.00,...,266.00,Condominium,nan,NaN,nan,NaN,77585,11487400,0.05,2017-09-19
77586,1319846,12433997,nan,nan,nan,1.00,2.00,nan,4.00,1.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77586,12433997,0.02,2017-09-19
77587,2566638,10855745,1.00,nan,nan,3.00,3.00,nan,6.00,3.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77587,10855745,0.00,2017-09-19
77588,248051,12883894,nan,nan,nan,1.00,3.00,nan,4.00,1.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77588,12883894,1.29,2017-09-19
77589,620802,12885530,nan,nan,nan,1.00,2.00,nan,4.00,1.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77589,12885530,0.00,2017-09-19
77590,2762482,11490983,nan,nan,nan,1.00,2.00,nan,8.00,1.00,...,266.00,Condominium,nan,NaN,nan,NaN,77590,11490983,-0.04,2017-09-19
77591,1752516,12401161,nan,nan,nan,3.00,3.00,nan,9.00,3.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77591,12401161,-0.23,2017-09-19
77592,2549729,11068972,1.00,nan,nan,5.00,4.00,nan,11.00,5.00,...,269.00,Planned Unit Development,nan,NaN,nan,NaN,77592,11068972,0.02,2017-09-19
77593,2762480,11490089,nan,nan,nan,2.00,2.00,nan,8.00,2.00,...,266.00,Condominium,nan,NaN,nan,NaN,77593,11490089,0.07,2017-09-19
77594,1006714,12406123,nan,nan,nan,2.00,2.00,nan,4.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77594,12406123,0.00,2017-09-19
77595,2871267,12669704,nan,nan,nan,2.00,4.00,nan,8.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77595,12669704,0.05,2017-09-19
77596,2900077,12410050,nan,nan,nan,1.00,2.00,nan,4.00,1.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77596,12410050,0.00,2017-09-19
77597,2913200,11953526,nan,nan,nan,0.00,0.00,nan,nan,nan,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77597,11953526,-0.16,2017-09-19
77598,347372,11608641,nan,nan,nan,2.00,2.00,nan,6.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77598,11608641,-0.82,2017-09-19
77599,1810799,11978003,1.00,nan,nan,2.00,3.00,nan,6.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77599,11978003,-0.06,2017-09-19
77600,2747021,11318911,nan,nan,nan,1.00,1.00,nan,5.00,1.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77600,11318911,0.01,2017-09-19
77601,1089830,10722237,1.00,nan,nan,1.00,2.00,nan,8.00,1.00,...,266.00,Condominium,nan,NaN,nan,NaN,77601,10722237,0.05,2017-09-19
77602,80446,12055795,nan,nan,nan,1.00,2.00,nan,4.00,1.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77602,12055795,-0.14,2017-09-19
77603,1635173,12892446,nan,nan,nan,3.00,4.00,nan,8.00,3.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77603,12892446,0.32,2017-09-19
77604,1684937,12666457,nan,nan,nan,3.00,3.00,nan,10.00,3.00,...,266.00,Condominium,nan,NaN,nan,NaN,77604,12666457,0.03,2017-09-19
77605,1642435,10858613,1.00,nan,nan,2.00,2.00,nan,8.00,2.00,...,266.00,Condominium,nan,NaN,nan,NaN,77605,10858613,-0.08,2017-09-19
77606,1373391,10722691,1.00,nan,nan,2.00,3.00,nan,6.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77606,10722691,0.08,2017-09-19
77607,2274245,12412492,nan,nan,nan,2.00,4.00,nan,6.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77607,12412492,0.00,2017-09-19
77608,2864704,10833991,1.00,nan,nan,3.00,3.00,nan,8.00,3.00,...,266.00,Condominium,nan,NaN,nan,NaN,77608,10833991,-0.00,2017-09-20
77609,673515,11000655,nan,nan,nan,2.00,2.00,nan,6.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77609,11000655,0.02,2017-09-20
77610,2968375,17239384,nan,nan,nan,2.00,4.00,nan,nan,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77610,17239384,0.01,2017-09-21
77611,1843709,12773139,1.00,nan,nan,1.00,3.00,nan,4.00,1.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77611,12773139,0.04,2017-09-21
77612,1187175,12826780,nan,nan,nan,2.00,3.00,nan,6.00,2.00,...,261.00,Single Family Residential,nan,NaN,nan,NaN,77612,12826780,0.01,2017-09-25

## Prepare Data

In [329]:
df.columns

Index(['id', 'parcelid', 'airconditioningtypeid', 'architecturalstyletypeid',
       'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingclasstypeid',
       'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid',
       'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15',
       'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt',
       'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet',
       'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt',
       'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock', 'airconditioningtypeid.1', 'airconditioningdesc',
       'architecturalstyletypeid.1', 'architecturalstyledesc',
       'buildingclasstypeid.1', 'buildingclassdesc', 'heatingorsystemtypeid.1',
       'heatingorsystemdesc', 'propertylandusetypeid.1', 'propertylandusedesc',
       'storytypeid.1', 'storydesc', 'typeconstructiontypeid.1',
       'typeconstructiondesc', 'id.1', 'parcelid.1', 'logerror',
       'transactiondate'],
      dtype='object')

In [289]:
# Cleans up the extra columns from initial SQL queries

In [330]:
drop_id_cols = ['airconditioningtypeid', 'architecturalstyletypeid','buildingclasstypeid','heatingorsystemtypeid','propertylandusetypeid','storytypeid','typeconstructiontypeid','airconditioningtypeid.1', 'architecturalstyletypeid.1', 'buildingclasstypeid.1', 'heatingorsystemtypeid.1', 'propertylandusetypeid.1',
       'storytypeid.1','typeconstructiontypeid.1','id.1', 'parcelid.1']

In [331]:
for col in drop_id_cols:
    df = df.drop(col, axis=1)

In [332]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167888 entries, 0 to 77612
Data columns (total 61 columns):
id                              167888 non-null int64
parcelid                        167888 non-null int64
basementsqft                    93 non-null float64
bathroomcnt                     167854 non-null float64
bedroomcnt                      167854 non-null float64
buildingqualitytypeid           107173 non-null float64
calculatedbathnbr               166056 non-null float64
decktypeid                      1272 non-null float64
finishedfloor1squarefeet        12893 non-null float64
calculatedfinishedsquarefeet    166992 non-null float64
finishedsquarefeet12            159519 non-null float64
finishedsquarefeet13            75 non-null float64
finishedsquarefeet15            6591 non-null float64
finishedsquarefeet50            12893 non-null float64
finishedsquarefeet6             807 non-null float64
fips                            167854 non-null float64
fireplacecnt                    17896 non-null float64
fullbathcnt                     166056 non-null float64
garagecarcnt                    55457 non-null float64
garagetotalsqft                 55457 non-null float64
hashottuborspa                  3904 non-null float64
latitude                        167854 non-null float64
longitude                       167854 non-null float64
lotsizesquarefeet               149446 non-null float64
poolcnt                         34075 non-null float64
poolsizesum                     1838 non-null float64
pooltypeid10                    1626 non-null float64
pooltypeid2                     2278 non-null float64
pooltypeid7                     31776 non-null float64
propertycountylandusecode       167853 non-null object
propertyzoningdesc              108789 non-null object
rawcensustractandblock          167854 non-null float64
regionidcity                    164579 non-null float64
regionidcounty                  167854 non-null float64
regionidneighborhood            66986 non-null float64
regionidzip                     167769 non-null float64
roomcnt                         167854 non-null float64
threequarterbathnbr             22115 non-null float64
unitcnt                         109056 non-null float64
yardbuildingsqft17              5039 non-null float64
yardbuildingsqft26              165 non-null float64
yearbuilt                       166828 non-null float64
numberofstories                 38169 non-null float64
fireplaceflag                   394 non-null float64
structuretaxvaluedollarcnt      167359 non-null float64
taxvaluedollarcnt               167852 non-null float64
assessmentyear                  167854 non-null float64
landtaxvaluedollarcnt           167851 non-null float64
taxamount                       167843 non-null float64
taxdelinquencyflag              4683 non-null object
taxdelinquencyyear              4683 non-null float64
censustractandblock             167002 non-null float64
airconditioningdesc             53788 non-null object
architecturalstyledesc          468 non-null object
buildingclassdesc               31 non-null object
heatingorsystemdesc             105651 non-null object
propertylandusedesc             167854 non-null object
storydesc                       93 non-null object
typeconstructiondesc            522 non-null object
logerror                        167888 non-null float64
transactiondate                 167888 non-null object
dtypes: float64(48), int64(2), object(11)
memory usage: 79.4+ MB

In [333]:
df.shape

(167888, 61)

In [294]:
# Include only single unit properties

In [334]:
df.columns

Index(['id', 'parcelid', 'basementsqft', 'bathroomcnt', 'bedroomcnt',
       'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid',
       'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15',
       'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt',
       'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'latitude', 'longitude', 'lotsizesquarefeet', 'poolcnt', 'poolsizesum',
       'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertyzoningdesc',
       'rawcensustractandblock', 'regionidcity', 'regionidcounty',
       'regionidneighborhood', 'regionidzip', 'roomcnt', 'threequarterbathnbr',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock', 'airconditioningdesc', 'architecturalstyledesc',
       'buildingclassdesc', 'heatingorsystemdesc', 'propertylandusedesc',
       'storydesc', 'typeconstructiondesc', 'logerror', 'transactiondate'],
      dtype='object')

In [335]:
df_single_units = df[(df.unitcnt == 1) & (df.bathroomcnt >0)]

In [336]:
df_single_units.shape

(101835, 61)

In [337]:
df_single_units.columns

Index(['id', 'parcelid', 'basementsqft', 'bathroomcnt', 'bedroomcnt',
       'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid',
       'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15',
       'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt',
       'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'latitude', 'longitude', 'lotsizesquarefeet', 'poolcnt', 'poolsizesum',
       'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertyzoningdesc',
       'rawcensustractandblock', 'regionidcity', 'regionidcounty',
       'regionidneighborhood', 'regionidzip', 'roomcnt', 'threequarterbathnbr',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock', 'airconditioningdesc', 'architecturalstyledesc',
       'buildingclassdesc', 'heatingorsystemdesc', 'propertylandusedesc',
       'storydesc', 'typeconstructiondesc', 'logerror', 'transactiondate'],
      dtype='object')

In [338]:
not_sure = ['threequarterbathnbr','numberofstories']

In [339]:
df_single_units[['regionidcity', 'regionidcounty','regionidneighborhood', 'regionidzip','yearbuilt', 'assessmentyear', 'taxdelinquencyyear','fireplaceflag','censustractandblock']].head()

,regionidcity,regionidcounty,regionidneighborhood,regionidzip,yearbuilt,assessmentyear,taxdelinquencyyear,fireplaceflag,censustractandblock
0,"12,447.00","3,101.00","31,817.00","96,370.00","1,959.00","2,015.00",nan,nan,"60,371,066,461,001.00"
2,"47,019.00","3,101.00","275,411.00","96,293.00","1,940.00","2,015.00",nan,nan,"60,374,638,003,004.00"
3,"12,447.00","3,101.00","54,300.00","96,222.00","1,987.00","2,015.00",nan,nan,"60,372,963,002,002.00"
5,"29,712.00","3,101.00",nan,"96,109.00","1,982.00","2,015.00",nan,nan,"60,376,210,044,006.00"
6,"24,174.00","3,101.00",nan,"96,091.00","1,939.00","2,015.00",nan,nan,"60,375,416,053,007.00"

In [340]:
# Takes in a dataframe and a list of columns names and returns the dataframe with the 
# datatypes of those columns changed to a non-numeric type

In [342]:
num_to_cat_cols = ['regionidcity', 'regionidcounty','regionidneighborhood', 'regionidzip','yearbuilt', 'assessmentyear', 'taxdelinquencyyear','fireplaceflag','censustractandblock']

In [343]:
def convert_numeric(df):
    list = num_to_cat_cols
    for col in list:
        df[col] = df[col].astype(str)
    return df

In [344]:
convert_numeric(df_single_units)

,id,parcelid,basementsqft,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,...,censustractandblock,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc,logerror,transactiondate
0,2931667,11016594,nan,2.00,3.00,4.00,2.00,nan,nan,"1,684.00",...,60371066461001.0,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.03,2016-01-01
2,2444575,12098116,nan,3.00,2.00,4.00,3.00,nan,nan,"2,217.00",...,60374638003004.0,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN,-0.00,2016-01-01
3,1584730,12643413,nan,2.00,2.00,4.00,2.00,nan,nan,839.00,...,60372963002002.0,Central,NaN,NaN,Central,Condominium,NaN,NaN,0.02,2016-01-02
5,2843942,11509835,nan,4.00,4.00,1.00,4.00,nan,nan,"3,067.00",...,60376210044006.0,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN,-0.27,2016-01-02
6,1628001,12286022,nan,1.00,2.00,7.00,1.00,nan,nan,"1,297.00",...,60375416053007.0,NaN,NaN,NaN,Floor/Wall,Single Family Residential,NaN,NaN,0.04,2016-01-02
10,715639,10854446,nan,2.00,2.00,7.00,2.00,nan,nan,"1,417.00",...,60371414003003.0,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.38,2016-01-03
11,331651,11672170,nan,4.00,5.00,1.00,4.00,nan,nan,"3,080.00",...,60372626011017.0,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN,-0.02,2016-01-03
12,1147246,10949761,nan,2.00,3.00,7.00,2.00,nan,nan,"1,484.00",...,60373110001009.0,NaN,NaN,NaN,Floor/Wall,Single Family Residential,NaN,NaN,0.03,2016-01-03
17,141691,12524288,nan,1.00,1.00,7.00,1.00,nan,nan,597.00,...,60375748002004.0,NaN,NaN,NaN,Central,Condominium,NaN,NaN,-0.04,2016-01-03
19,403163,10815909,nan,3.00,3.00,4.00,3.00,nan,nan,"1,727.00",...,60371395021007.0,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.01,2016-01-03
20,141379,12453853,nan,1.00,2.00,7.00,1.00,nan,nan,840.00,...,60375703031007.0,NaN,NaN,NaN,Floor/Wall,Single Family Residential,NaN,NaN,-0.04,2016-01-03
23,2665140,11458863,nan,4.00,3.00,4.00,4.00,nan,nan,"3,749.00",...,60372770005008.0,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.12,2016-01-03
25,975491,12752047,nan,4.00,3.00,7.00,4.00,nan,nan,"1,875.00",...,60375038023004.0,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN,-0.04,2016-01-03
26,2292967,11188425,nan,2.00,2.00,4.00,2.00,nan,nan,"1,302.00",...,60379102081016.0,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN,-0.07,2016-01-03
28,522034,10805063,nan,2.00,2.00,4.00,2.00,nan,nan,"1,045.00",...,60371395041001.0,Central,NaN,NaN,Central,Condominium,NaN,NaN,0.00,2016-01-03
29,1807782,12524725,nan,3.00,2.00,4.00,3.00,nan,nan,"1,329.00",...,60375770005003.0,NaN,NaN,NaN,Central,Condominium,NaN,NaN,-0.05,2016-01-03
30,2753380,11104966,nan,2.00,4.00,7.00,2.00,nan,nan,"1,144.00",...,60379200352005.0,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN,-0.04,2016-01-03
31,1417372,11624877,nan,2.00,2.00,1.00,2.00,nan,nan,"1,422.00",...,60372690004005.0,Central,NaN,NaN,Central,Condominium,NaN,NaN,-0.03,2016-01-03
32,409081,12440314,nan,2.00,3.00,7.00,2.00,nan,nan,"1,631.00",...,60375740004006.0,NaN,NaN,NaN,Floor/Wall,Single Family Residential,NaN,NaN,0.02,2016-01-03
33,1374127,12037577,nan,2.00,3.00,4.00,2.00,nan,nan,"1,782.00",...,60371952021001.0,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN,-0.02,2016-01-03
34,2634154,11024002,nan,3.00,3.00,7.00,3.00,nan,nan,"1,847.00",...,60371048212002.0,NaN,NaN,NaN,Floor/Wall,Single Family Residential,NaN,NaN,0.03,2016-01-03
35,1548306,10777209,nan,1.00,3.00,7.00,1.00,nan,nan,"1,420.00",...,60371318001006.0,NaN,NaN,NaN,Floor/Wall,Single Family Residential,NaN,NaN,-0.02,2016-01-03
38,2044485,12339438,nan,1.00,2.00,7.00,1.00,nan,nan,640.00,...,60375535041005.0,NaN,NaN,NaN,Floor/Wall,Single Family Residential,NaN,NaN,0.05,2016-01-03
40,719365,11921507,nan,3.00,3.00,4.00,3.00,nan,nan,"2,580.00",...,60374632002014.0,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.04,2016-01-03
43,32013,10984360,nan,2.00,4.00,7.00,2.00,nan,nan,"1,150.00",...,60371042031001.0,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.04,2016-01-03
44,599538,11708989,nan,1.00,3.00,7.00,1.00,nan,nan,"1,457.00",...,60372315003003.0,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN,-0.09,2016-01-03
46,2662970,10812783,nan,4.00,5.00,4.00,4.00,nan,nan,"3,623.00",...,60371375041000.0,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.04,2016-01-03
48,793426,11874881,nan,2.00,3.00,7.00,2.00,nan,nan,"1,250.00",...,60372013021002.0,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN,-0.04,2016-01-03
49,1734517,12859348,nan,2.00,4.00,4.00,2.00,nan,nan,"2,054.00",...,60374033233021.0,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN,-0.04,2016-01-03
50,1243823,12885665,nan,1.00,3.00,7.00,1.00,nan,nan,"1,164.00",...,60374030003006.0,NaN,NaN,NaN,Floor/Wall,Single Family Residential,NaN,NaN,0.02,2016-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77581,1591156,13089085,nan,3.00,4.00,8.00,3.00,nan,nan,"1,859.00",...,60374034013011.0,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.02,2017-09-19
77582,2469894,12906571,nan,2.00,3.00,8.00,2.00,nan,nan,"1,368.00",...,60374003042001.0,NaN,NaN,NaN,Central,Planned Unit Development,NaN,NaN,0.02,2017-09-19
77583,843538,12651460,nan,1.00,2.00,5.00,1.00,nan,nan,960.00,...,60372970004008.0,NaN,NaN,NaN,Floor/Wall,Single Family Residential,NaN,NaN,0.09,2017-09-19
77584,2417958,10962691,nan,2.00,3.00,4.00,2.00,nan,nan,"1,160.00",...,60371065201001.0,NaN,NaN,NaN,Floor/Wall,Single Family Residential,NaN,NaN,-0.06,2017-09-19
77585,197689,11487400,nan,2.00,2.00,7.00,2.00,nan,nan,"1,213.00",...,60376205213003.0,NaN,NaN,NaN,Central,Condominium,NaN,NaN,0.05,2017-09-19
77586,1319846,12433997,nan,1.00,2.00,4.00,1.00,nan,nan,832.00,...,60375552113003.0,NaN,NaN,NaN,Floor/Wall,Single Family Residential,NaN,NaN,0.02,2017-09-19
77587,2566638,10855745,nan,3.00,3.00,6.00,3.00,nan,nan,"1,774.00",...,60371289101013.0,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.00,2017-09-19
77588,248051,12883894,nan,1.00,3.00,4.00,1.00,nan,nan,"1,580.00",...,60374023032003.0,NaN,NaN,NaN,Floor/Wall,Single Family Residential,NaN,NaN,1.29,2017-09-19
77589,620802,12885530,nan,1.00,2.00,4.00,1.00,nan,nan,820.00,...,60374025022022.0,NaN,NaN,NaN,Floor/Wall,Single Family Residential,NaN,NaN,0.00,2017-09-19
77590,2762482,11490983,nan,1.00,2.00,8.00,1.00,nan,nan,"1,070.00",...,60376206014002.0,NaN,NaN,NaN,Central,Condominium,NaN,NaN,-0.04,2017-09-19
77591,1752516,12401161,nan,3.00,3.00,9.00,3.00,nan,nan,"3,539.00",...,60375505005002.0,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN,-0.23,2017-09-19
77592,2549729,11068972,nan,5.00,4.00,11.00,5.00,nan,nan,"5,210.00",...,60371082021000.0,Central,NaN,NaN,Central,Planned Unit Development,NaN,NaN,0.02,2017-09-19
77593,2762480,11490089,nan,2.00,2.00,8.00,2.00,nan,nan,"1,258.00",...,60376207011008.0,NaN,NaN,NaN,Central,Condominium,NaN,NaN,0.07,2017-09-19
77594,1006714,12406123,nan,2.00,2.00,4.00,2.00,nan,nan,856.00,...,60375548011001.0,NaN,NaN,NaN,Floor/Wall,Single Family Residential,NaN,NaN,0.00,2017-09-19
77595,2871267,12669704,nan,2.00,4.00,8.00,2.00,nan,nan,"2,166.00",...,60376513022002.0,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.05,2017-09-19
77596,2900077,12410050,nan,1.00,2.00,4.00,1.00,nan,nan,"1,023.00",...,60375531004009.0,NaN,NaN,NaN,Floor/Wall,Single Family Residential,NaN,NaN,0.00,2017-09-19
77598,347372,11608641,nan,2.00,2.00,6.00,2.00,nan,nan,"1,281.00",...,60372690003005.0,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN,-0.82,2017-09-19
77599,1810799,11978003,nan,2.00,3.00,6.00,2.00,nan,nan,"1,472.00",...,60371831013008.0,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN,-0.06,2017-09-19
77600,2747021,11318911,nan,1.00,1.00,5.00,1.00,nan,nan,624.00,...,60379011012002.0,NaN,NaN,NaN,Floor/Wall,Single Family Residential,NaN,NaN,0.01,2017-09-19
77601,1089830,10722237,nan,1.00,2.00,8.00,1.00,nan,nan,868.00,...,60371343032009.0,Central,NaN,NaN,Central,Condominium,NaN,NaN,0.05,2017-09-19
77602,80446,12055795,nan,1.00,2.00,4.00,1.00,nan,nan,912.00,...,60373016012029.0,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN,-0.14,2017-09-19
77603,1635173,12892446,nan,3.00,4.00,8.00,3.00,nan,nan,"2,068.00",...,60374022003025.0,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.32,2017-09-19
77604,1684937,12666457,nan,3.00,3.00,10.00,3.00,nan,nan,"2,200.00",...,60376213262006.0,NaN,NaN,NaN,Central,Condominium,NaN,NaN,0.03,2017-09-19
77605,1642435,10858613,nan,2.00,2.00,8.00,2.00,nan,nan,"1,261.00",...,60371412022002.0,Central,NaN,NaN,Central,Condominium,NaN,NaN,-0.08,2017-09-19
77606,1373391,10722691,nan,2.00,3.00,6.00,2.00,nan,nan,"1,570.00",...,60371352011004.0,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.08,2017-09-19
77607,2274245,12412492,nan,2.00,4.00,6.00,2.00,nan,nan,"1,633.00",...,60375548022001.0,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.00,2017-09-19
77608,2864704,10833991,nan,3.00,3.00,8.00,3.00,nan,nan,"1,741.00",...,60371319001006.0,Central,NaN,NaN,Central,Condominium,NaN,NaN,-0.00,2017-09-20
77609,673515,11000655,nan,2.00,2.00,6.00,2.00,nan,nan,"1,286.00",...,60371014003002.0,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.02,2017-09-20
77611,1843709,12773139,nan,1.00,3.00,4.00,1.00,nan,nan,"1,032.00",...,60374338022005.0,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.04,2017-09-21
77612,1187175,12826780,nan,2.00,3.00,6.00,2.00,nan,nan,"1,762.00",...,60375034021020.0,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.01,2017-09-25

In [345]:
df_single_units.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101835 entries, 0 to 77612
Data columns (total 61 columns):
id                              101835 non-null int64
parcelid                        101835 non-null int64
basementsqft                    0 non-null float64
bathroomcnt                     101835 non-null float64
bedroomcnt                      101835 non-null float64
buildingqualitytypeid           100881 non-null float64
calculatedbathnbr               101835 non-null float64
decktypeid                      0 non-null float64
finishedfloor1squarefeet        0 non-null float64
calculatedfinishedsquarefeet    101830 non-null float64
finishedsquarefeet12            101778 non-null float64
finishedsquarefeet13            0 non-null float64
finishedsquarefeet15            52 non-null float64
finishedsquarefeet50            0 non-null float64
finishedsquarefeet6             0 non-null float64
fips                            101835 non-null float64
fireplacecnt                    1 non-null float64
fullbathcnt                     101835 non-null float64
garagecarcnt                    8 non-null float64
garagetotalsqft                 8 non-null float64
hashottuborspa                  609 non-null float64
latitude                        101835 non-null float64
longitude                       101835 non-null float64
lotsizesquarefeet               99187 non-null float64
poolcnt                         24366 non-null float64
poolsizesum                     0 non-null float64
pooltypeid10                    609 non-null float64
pooltypeid2                     0 non-null float64
pooltypeid7                     24345 non-null float64
propertycountylandusecode       101835 non-null object
propertyzoningdesc              101355 non-null object
rawcensustractandblock          101835 non-null float64
regionidcity                    101835 non-null object
regionidcounty                  101835 non-null object
regionidneighborhood            101835 non-null object
regionidzip                     101835 non-null object
roomcnt                         101835 non-null float64
threequarterbathnbr             1 non-null float64
unitcnt                         101835 non-null float64
yardbuildingsqft17              0 non-null float64
yardbuildingsqft26              0 non-null float64
yearbuilt                       101835 non-null object
numberofstories                 14 non-null float64
fireplaceflag                   101835 non-null object
structuretaxvaluedollarcnt      101724 non-null float64
taxvaluedollarcnt               101835 non-null float64
assessmentyear                  101835 non-null object
landtaxvaluedollarcnt           101835 non-null float64
taxamount                       101827 non-null float64
taxdelinquencyflag              3661 non-null object
taxdelinquencyyear              101835 non-null object
censustractandblock             101835 non-null object
airconditioningdesc             47396 non-null object
architecturalstyledesc          1 non-null object
buildingclassdesc               0 non-null object
heatingorsystemdesc             100289 non-null object
propertylandusedesc             101835 non-null object
storydesc                       0 non-null object
typeconstructiondesc            0 non-null object
logerror                        101835 non-null float64
transactiondate                 101835 non-null object
dtypes: float64(39), int64(2), object(20)
memory usage: 48.2+ MB

## Handle Missing Values

#### Calculates by columns

In [346]:
def amt_missing(df):
    percentage_missing = df.isnull().sum()/df.shape[0]*100
    number_missing = df.isnull().sum()
    amt_missing = list(zip(percentage_missing, number_missing))
    df = pd.DataFrame(amt_missing, columns=['Percentage Missing', 'Number of Missing Values'])
    return df

In [347]:
amt_missing(df_single_units).head()

    Percentage Missing  Number of Missing Values
0                 0.00                         0
1                 0.00                         0
2               100.00                    101835
3                 0.00                         0
4                 0.00                         0

In [348]:
df_missing_cols = amt_missing(df_single_units)
df_missing_cols['Column Name'] = [x for x in df_single_units.columns]
df_missing_cols

,Percentage Missing,Number of Missing Values,Column Name
0,0.00,0,id
1,0.00,0,parcelid
2,100.00,101835,basementsqft
3,0.00,0,bathroomcnt
4,0.00,0,bedroomcnt
5,0.94,954,buildingqualitytypeid
6,0.00,0,calculatedbathnbr
7,100.00,101835,decktypeid
8,100.00,101835,finishedfloor1squarefeet
9,0.00,5,calculatedfinishedsquarefeet
10,0.06,57,finishedsquarefeet12
11,100.00,101835,finishedsquarefeet13
12,99.95,101783,finishedsquarefeet15
13,100.00,101835,finishedsquarefeet50
14,100.00,101835,finishedsquarefeet6
15,0.00,0,fips
16,100.00,101834,fireplacecnt
17,0.00,0,fullbathcnt
18,99.99,101827,garagecarcnt
19,99.99,101827,garagetotalsqft
20,99.40,101226,hashottuborspa
21,0.00,0,latitude
22,0.00,0,longitude
23,2.60,2648,lotsizesquarefeet
24,76.07,77469,poolcnt
25,100.00,101835,poolsizesum
26,99.40,101226,pooltypeid10
27,100.00,101835,pooltypeid2
28,76.09,77490,pooltypeid7
29,0.00,0,propertycountylandusecode
...,...,...,...
31,0.00,0,rawcensustractandblock
32,0.00,0,regionidcity
33,0.00,0,regionidcounty
34,0.00,0,regionidneighborhood
35,0.00,0,regionidzip
36,0.00,0,roomcnt
37,100.00,101834,threequarterbathnbr
38,0.00,0,unitcnt
39,100.00,101835,yardbuildingsqft17
40,100.00,101835,yardbuildingsqft26
41,0.00,0,yearbuilt
42,99.99,101821,numberofstories
43,0.00,0,fireplaceflag
44,0.11,111,structuretaxvaluedollarcnt
45,0.00,0,taxvaluedollarcnt
46,0.00,0,assessmentyear
47,0.00,0,landtaxvaluedollarcnt
48,0.01,8,taxamount
49,96.40,98174,taxdelinquencyflag
50,0.00,0,taxdelinquencyyear
51,0.00,0,censustractandblock
52,53.46,54439,airconditioningdesc
53,100.00,101834,architecturalstyledesc
54,100.00,101835,buildingclassdesc
55,1.52,1546,heatingorsystemdesc
56,0.00,0,propertylandusedesc
57,100.00,101835,storydesc
58,100.00,101835,typeconstructiondesc
59,0.00,0,logerror
60,0.00,0,transactiondate

#### Calculates by rows

In [349]:
def amt_missing_rows(df):
    null_count = df.isnull().sum(axis=1)
    null_percentage = (null_count / df.shape[1]) * 100
    return pd.DataFrame({'num_missing': null_count, 'percentage': null_percentage})

In [350]:
amt_missing_rows(df_single_units)

       num_missing           percentage
0               25                40.98
2               25                40.98
3               25                40.98
5               25                40.98
6               26                42.62
10              26                42.62
11              25                40.98
12              26                42.62
17              24                39.34
19              25                40.98
20              26                42.62
23              24                39.34
25              25                40.98
26              25                40.98
28              23                37.70
29              26                42.62
30              24                39.34
31              25                40.98
32              24                39.34
33              25                40.98
34              26                42.62
35              26                42.62
38              26                42.62
40              24                39.34
43              26                42.62
44              27                44.26
46              23                37.70
48              26                42.62
49              24                39.34
50              24                39.34
...            ...                  ...
77581           23                37.70
77582           26                42.62
77583           26                42.62
77584           26                42.62
77585           26                42.62
77586           25                40.98
77587           25                40.98
77588           26                42.62
77589           26                42.62
77590           26                42.62
77591           24                39.34
77592           24                39.34
77593           26                42.62
77594           26                42.62
77595           24                39.34
77596           26                42.62
77598           25                40.98
77599           25                40.98
77600           26                42.62
77601           23                37.70
77602           27                44.26
77603           26                42.62
77604           26                42.62
77605           23                37.70
77606           25                40.98
77607           26                42.62
77608           23                37.70
77609           26                42.62
77611           25                40.98
77612           26                42.62

[101835 rows x 2 columns]

#### Drop columns that have 100% null values

In [351]:
drop_null_cols = df_missing_cols[(df_missing_cols['Percentage Missing'] == 100.0 )]['Column Name'].tolist()
drop_null_cols

['basementsqft',
 'decktypeid',
 'finishedfloor1squarefeet',
 'finishedsquarefeet13',
 'finishedsquarefeet50',
 'finishedsquarefeet6',
 'poolsizesum',
 'pooltypeid2',
 'yardbuildingsqft17',
 'yardbuildingsqft26',
 'buildingclassdesc',
 'storydesc',
 'typeconstructiondesc']

In [352]:
df_single_units = df_single_units.drop(columns=drop_null_cols, axis=0)

In [353]:
df_single_units.columns

Index(['id', 'parcelid', 'bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid',
       'calculatedbathnbr', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'finishedsquarefeet15', 'fips', 'fireplacecnt',
       'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'latitude', 'longitude', 'lotsizesquarefeet', 'poolcnt', 'pooltypeid10',
       'pooltypeid7', 'propertycountylandusecode', 'propertyzoningdesc',
       'rawcensustractandblock', 'regionidcity', 'regionidcounty',
       'regionidneighborhood', 'regionidzip', 'roomcnt', 'threequarterbathnbr',
       'unitcnt', 'yearbuilt', 'numberofstories', 'fireplaceflag',
       'structuretaxvaluedollarcnt', 'taxvaluedollarcnt', 'assessmentyear',
       'landtaxvaluedollarcnt', 'taxamount', 'taxdelinquencyflag',
       'taxdelinquencyyear', 'censustractandblock', 'airconditioningdesc',
       'architecturalstyledesc', 'heatingorsystemdesc', 'propertylandusedesc',
       'logerror', 'transactiondate'],
      dtype='object')

#### Take null values and input 0

In [266]:
def input_zeros(df, cols):
    for col in cols:
        df[col].fillna(0, inplace=True)
    return df

In [361]:
replace_nulls = df_missing_cols[(df_missing_cols['Percentage Missing'] > 0 ) & (df_missing_cols['Percentage Missing'] < 100 )]['Column Name'].tolist()
replace_nulls.remove('lotsizesquarefeet')
replace_nulls

['buildingqualitytypeid',
 'calculatedfinishedsquarefeet',
 'finishedsquarefeet12',
 'finishedsquarefeet15',
 'fireplacecnt',
 'garagecarcnt',
 'garagetotalsqft',
 'hashottuborspa',
 'poolcnt',
 'pooltypeid10',
 'pooltypeid7',
 'propertyzoningdesc',
 'threequarterbathnbr',
 'numberofstories',
 'structuretaxvaluedollarcnt',
 'taxamount',
 'taxdelinquencyflag',
 'airconditioningdesc',
 'architecturalstyledesc',
 'heatingorsystemdesc']

In [362]:
input_zeros(df_single_units, replace_nulls)

,id,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet15,fips,...,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,airconditioningdesc,architecturalstyledesc,heatingorsystemdesc,propertylandusedesc,logerror,transactiondate
0,2931667,11016594,2.00,3.00,4.00,2.00,"1,684.00","1,684.00",0.00,"6,037.00",...,"6,735.88",0,nan,60371066461001.0,Central,0,Central,Single Family Residential,0.03,2016-01-01
2,2444575,12098116,3.00,2.00,4.00,3.00,"2,217.00","2,217.00",0.00,"6,037.00",...,"11,484.48",0,nan,60374638003004.0,Central,0,Central,Single Family Residential,-0.00,2016-01-01
3,1584730,12643413,2.00,2.00,4.00,2.00,839.00,839.00,0.00,"6,037.00",...,"3,048.74",0,nan,60372963002002.0,Central,0,Central,Condominium,0.02,2016-01-02
5,2843942,11509835,4.00,4.00,1.00,4.00,"3,067.00","3,067.00",0.00,"6,037.00",...,"27,126.57",0,nan,60376210044006.0,Central,0,Central,Single Family Residential,-0.27,2016-01-02
6,1628001,12286022,1.00,2.00,7.00,1.00,"1,297.00","1,297.00",0.00,"6,037.00",...,"2,304.97",0,nan,60375416053007.0,0,0,Floor/Wall,Single Family Residential,0.04,2016-01-02
10,715639,10854446,2.00,2.00,7.00,2.00,"1,417.00","1,417.00",0.00,"6,037.00",...,"1,443.69",0,nan,60371414003003.0,0,0,Central,Single Family Residential,0.38,2016-01-03
11,331651,11672170,4.00,5.00,1.00,4.00,"3,080.00","3,080.00",0.00,"6,037.00",...,"13,428.94",0,nan,60372626011017.0,Central,0,Central,Single Family Residential,-0.02,2016-01-03
12,1147246,10949761,2.00,3.00,7.00,2.00,"1,484.00","1,484.00",0.00,"6,037.00",...,832.35,0,nan,60373110001009.0,0,0,Floor/Wall,Single Family Residential,0.03,2016-01-03
17,141691,12524288,1.00,1.00,7.00,1.00,597.00,597.00,0.00,"6,037.00",...,913.17,0,nan,60375748002004.0,0,0,Central,Condominium,-0.04,2016-01-03
19,403163,10815909,3.00,3.00,4.00,3.00,"1,727.00","1,727.00",0.00,"6,037.00",...,"5,194.00",0,nan,60371395021007.0,Central,0,Central,Single Family Residential,0.01,2016-01-03
20,141379,12453853,1.00,2.00,7.00,1.00,840.00,840.00,0.00,"6,037.00",...,"3,211.31",0,nan,60375703031007.0,0,0,Floor/Wall,Single Family Residential,-0.04,2016-01-03
23,2665140,11458863,4.00,3.00,4.00,4.00,"3,749.00","3,749.00",0.00,"6,037.00",...,"14,747.98",0,nan,60372770005008.0,0,0,Central,Single Family Residential,0.12,2016-01-03
25,975491,12752047,4.00,3.00,7.00,4.00,"1,875.00","1,875.00",0.00,"6,037.00",...,"3,249.37",0,nan,60375038023004.0,Central,0,Central,Single Family Residential,-0.04,2016-01-03
26,2292967,11188425,2.00,2.00,4.00,2.00,"1,302.00","1,302.00",0.00,"6,037.00",...,"3,895.76",0,nan,60379102081016.0,Central,0,Central,Single Family Residential,-0.07,2016-01-03
28,522034,10805063,2.00,2.00,4.00,2.00,"1,045.00","1,045.00",0.00,"6,037.00",...,"3,117.19",0,nan,60371395041001.0,Central,0,Central,Condominium,0.00,2016-01-03
29,1807782,12524725,3.00,2.00,4.00,3.00,"1,329.00","1,329.00",0.00,"6,037.00",...,"2,648.96",0,nan,60375770005003.0,0,0,Central,Condominium,-0.05,2016-01-03
30,2753380,11104966,2.00,4.00,7.00,2.00,"1,144.00","1,144.00",0.00,"6,037.00",...,"4,499.03",0,nan,60379200352005.0,0,0,Central,Single Family Residential,-0.04,2016-01-03
31,1417372,11624877,2.00,2.00,1.00,2.00,"1,422.00","1,422.00",0.00,"6,037.00",...,"8,048.18",0,nan,60372690004005.0,Central,0,Central,Condominium,-0.03,2016-01-03
32,409081,12440314,2.00,3.00,7.00,2.00,"1,631.00","1,631.00",0.00,"6,037.00",...,"4,128.58",0,nan,60375740004006.0,0,0,Floor/Wall,Single Family Residential,0.02,2016-01-03
33,1374127,12037577,2.00,3.00,4.00,2.00,"1,782.00","1,782.00",0.00,"6,037.00",...,"5,832.19",0,nan,60371952021001.0,Central,0,Central,Single Family Residential,-0.02,2016-01-03
34,2634154,11024002,3.00,3.00,7.00,3.00,"1,847.00","1,847.00",0.00,"6,037.00",...,"4,172.08",0,nan,60371048212002.0,0,0,Floor/Wall,Single Family Residential,0.03,2016-01-03
35,1548306,10777209,1.00,3.00,7.00,1.00,"1,420.00","1,420.00",0.00,"6,037.00",...,"3,398.70",0,nan,60371318001006.0,0,0,Floor/Wall,Single Family Residential,-0.02,2016-01-03
38,2044485,12339438,1.00,2.00,7.00,1.00,640.00,640.00,0.00,"6,037.00",...,"2,481.35",0,nan,60375535041005.0,0,0,Floor/Wall,Single Family Residential,0.05,2016-01-03
40,719365,11921507,3.00,3.00,4.00,3.00,"2,580.00","2,580.00",0.00,"6,037.00",...,"2,108.01",0,nan,60374632002014.0,0,0,Central,Single Family Residential,0.04,2016-01-03
43,32013,10984360,2.00,4.00,7.00,2.00,"1,150.00","1,150.00",0.00,"6,037.00",...,"4,205.43",0,nan,60371042031001.0,0,0,Central,Single Family Residential,0.04,2016-01-03
44,599538,11708989,1.00,3.00,7.00,1.00,"1,457.00","1,457.00",0.00,"6,037.00",...,"3,668.14",0,nan,60372315003003.0,0,0,0,Single Family Residential,-0.09,2016-01-03
46,2662970,10812783,4.00,5.00,4.00,4.00,"3,623.00","3,623.00",0.00,"6,037.00",...,"15,264.65",0,nan,60371375041000.0,Central,0,Central,Single Family Residential,0.04,2016-01-03
48,793426,11874881,2.00,3.00,7.00,2.00,"1,250.00","1,250.00",0.00,"6,037.00",...,"5,523.80",0,nan,60372013021002.0,0,0,Central,Single Family Residential,-0.04,2016-01-03
49,1734517,12859348,2.00,4.00,4.00,2.00,"2,054.00","2,054.00",0.00,"6,037.00",...,"3,754.82",0,nan,60374033233021.0,0,0,Central,Single Family Residential,-0.04,2016-01-03
50,1243823,12885665,1.00,3.00,7.00,1.00,"1,164.00","1,164.00",0.00,"6,037.00",...,"2,245.93",0,nan,60374030003006.0,0,0,Floor/Wall,Single Family Residential,0.02,2016-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77581,1591156,13089085,3.00,4.00,8.00,3.00,"1,859.00","1,859.00",0.00,"6,037.00",...,"4,957.87",0,nan,60374034013011.0,Central,0,Central,Single Family Residential,0.02,2017-09-19
77582,2469894,12906571,2.00,3.00,8.00,2.00,"1,368.00","1,368.00",0.00,"6,037.00",...,"2,527.69",0,nan,60374003042001.0,0,0,Central,Planned Unit Development,0.02,2017-09-19
77583,843538,12651460,1.00,2.00,5.00,1.00,960.00,960.00,0.00,"6,037.00",...,"5,423.02",0,nan,60372970004008.0,0,0,Floor/Wall,Single Family Residential,0.09,2017-09-19
77584,2417958,10962691,2.00,3.00,4.00,2.00,"1,160.00","1,160.00",0.00,"6,037.00",...,"3,980.97",0,nan,60371065201001.0,0,0,Floor/Wall,Single Family Residential,-0.06,2017-09-19
77585,197689,11487400,2.00,2.00,7.00,2.00,"1,213.00","1,213.00",0.00,"6,037.00",...,"2,940.30",0,nan,60376205213003.0,0,0,Central,Condominium,0.05,2017-09-19
77586,1319846,12433997,1.00,2.00,4.00,1.00,832.00,832.00,0.00,"6,037.00",...,"1,865.65",Y,12.0,60375552113003.0,0,0,Floor/Wall,Single Family Residential,0.02,2017-09-19
77587,2566638,10855745,3.00,3.00,6.00,3.00,"1,774.00","1,774.00",0.00,"6,037.00",...,"9,703.53",0,nan,60371289101013.0,Central,0,Central,Single Family Residential,0.00,2017-09-19
77588,248051,12883894,1.00,3.00,4.00,1.00,"1,580.00","1,580.00",0.00,"6,037.00",...,500.68,0,nan,60374023032003.0,0,0,Floor/Wall,Single Family Residential,1.29,2017-09-19
77589,620802,12885530,1.00,2.00,4.00,1.00,820.00,820.00,0.00,"6,037.00",...,904.27,0,nan,60374025022022.0,0,0,Floor/Wall,Single Family Residential,0.00,2017-09-19
77590,2762482,11490983,1.00,2.00,8.00,1.00,"1,070.00","1,070.00",0.00,"6,037.00",...,"3,018.98",0,nan,60376206014002.0,0,0,Central,Condominium,-0.04,2017-09-19
77591,1752516,12401161,3.00,3.00,9.00,3.00,"3,539.00","3,539.00",0.00,"6,037.00",...,"10,781.20",0,nan,60375505005002.0,0,0,Central,Single Family Residential,-0.23,2017-09-19
77592,2549729,11068972,5.00,4.00,11.00,5.00,"5,210.00","5,210.00",0.00,"6,037.00",...,"16,032.16",0,nan,60371082021000.0,Central,0,Central,Planned Unit Development,0.02,2017-09-19
77593,2762480,11490089,2.00,2.00,8.00,2.00,"1,258.00","1,258.00",0.00,"6,037.00",...,"3,774.07",0,nan,60376207011008.0,0,0,Central,Condominium,0.07,2017-09-19
77594,1006714,12406123,2.00,2.00,4.00,2.00,856.00,856.00,0.00,"6,037.00",...,"1,580.48",0,nan,60375548011001.0,0,0,Floor/Wall,Single Family Residential,0.00,2017-09-19
77595,2871267,12669704,2.00,4.00,8.00,2.00,"2,166.00","2,166.00",0.00,"6,037.00",...,"1,770.95",0,nan,60376513022002.0,0,0,Central,Single Family Residential,0.05,2017-09-19
77596,2900077,12410050,1.00,2.00,4.00,1.00,"1,023.00","1,023.00",0.00,"6,037.00",...,"2,759.92",0,nan,60375531004009.0,0,0,Floor/Wall,Single Family Residential,0.00,2017-09-19
77598,347372,11608641,2.00,2.00,6.00,2.00,"1,281.00","1,281.00",0.00,"6,037.00",...,"1,391.79",Y,14.0,60372690003005.0,0,0,Central,Single Family Residential,-0.82,2017-09-19
77599,1810799,11978003,2.00,3.00,6.00,2.00,"1,472.00","1,472.00",0.00,"6,037.00",...,"7,312.73",0,nan,60371831013008.0,Central,0,Central,Single Family Residential,-0.06,2017-09-19
77600,2747021,11318911,1.00,1.00,5.00,1.00,624.00,624.00,0.00,"6,037.00",...,"1,131.24",0,nan,60379011012002.0,0,0,Floor/Wall,Single Family Residential,0.01,2017-09-19
77601,1089830,10722237,1.00,2.00,8.00,1.00,868.00,868.00,0.00,"6,037.00",...,"3,225.40",0,nan,60371343032009.0,Central,0,Central,Condominium,0.05,2017-09-19
77602,80446,12055795,1.00,2.00,4.00,1.00,912.00,912.00,0.00,"6,037.00",...,"3,465.38",0,nan,60373016012029.0,0,0,0,Single Family Residential,-0.14,2017-09-19
77603,1635173,12892446,3.00,4.00,8.00,3.00,"2,068.00","2,068.00",0.00,"6,037.00",...,"4,225.84",0,nan,60374022003025.0,0,0,Central,Single Family Residential,0.32,2017-09-19
77604,1684937,12666457,3.00,3.00,10.00,3.00,"2,200.00","2,200.00",0.00,"6,037.00",...,"16,388.30",0,nan,60376213262006.0,0,0,Central,Condominium,0.03,2017-09-19
77605,1642435,10858613,2.00,2.00,8.00,2.00,"1,261.00","1,261.00",0.00,"6,037.00",...,"4,231.76",0,nan,60371412022002.0,Central,0,Central,Condominium,-0.08,2017-09-19
77606,1373391,10722691,2.00,3.00,6.00,2.00,"1,570.00","1,570.00",0.00,"6,037.00",...,"1,000.70",0,nan,60371352011004.0,Central,0,Central,Single Family Residential,0.08,2017-09-19
77607,2274245,12412492,2.00,4.00,6.00,2.00,"1,633.00","1,633.00",0.00,"6,037.00",...,"4,175.08",0,nan,60375548022001.0,0,0,Central,Single Family Residential,0.00,2017-09-19
77608,2864704,10833991,3.00,3.00,8.00,3.00,"1,741.00","1,741.00",0.00,"6,037.00",...,"4,685.34",0,nan,60371319001006.0,Central,0,Central,Condominium,-0.00,2017-09-20
77609,673515,11000655,2.00,2.00,6.00,2.00,"1,286.00","1,286.00",0.00,"6,037.00",...,"4,478.43",0,nan,60371014003002.0,0,0,Central,Single Family Residential,0.02,2017-09-20
77611,1843709,12773139,1.00,3.00,4.00,1.00,"1,032.00","1,032.00",0.00,"6,037.00",...,876.43,0,nan,60374338022005.0,Central,0,Central,Single Family Residential,0.04,2017-09-21
77612,1187175,12826780,2.00,3.00,6.00,2.00,"1,762.00","1,762.00",0.00,"6,037.00",...,"6,317.15",0,nan,60375034021020.0,0,0,Central,Single Family Residential,0.01,2017-09-25

In [363]:
df_single_units.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101835 entries, 0 to 77612
Data columns (total 48 columns):
id                              101835 non-null int64
parcelid                        101835 non-null int64
bathroomcnt                     101835 non-null float64
bedroomcnt                      101835 non-null float64
buildingqualitytypeid           101835 non-null float64
calculatedbathnbr               101835 non-null float64
calculatedfinishedsquarefeet    101835 non-null float64
finishedsquarefeet12            101835 non-null float64
finishedsquarefeet15            101835 non-null float64
fips                            101835 non-null float64
fireplacecnt                    101835 non-null float64
fullbathcnt                     101835 non-null float64
garagecarcnt                    101835 non-null float64
garagetotalsqft                 101835 non-null float64
hashottuborspa                  101835 non-null float64
latitude                        101835 non-null float64
longitude                       101835 non-null float64
lotsizesquarefeet               99187 non-null float64
poolcnt                         101835 non-null float64
pooltypeid10                    101835 non-null float64
pooltypeid7                     101835 non-null float64
propertycountylandusecode       101835 non-null object
propertyzoningdesc              101835 non-null object
rawcensustractandblock          101835 non-null float64
regionidcity                    101835 non-null object
regionidcounty                  101835 non-null object
regionidneighborhood            101835 non-null object
regionidzip                     101835 non-null object
roomcnt                         101835 non-null float64
threequarterbathnbr             101835 non-null float64
unitcnt                         101835 non-null float64
yearbuilt                       101835 non-null object
numberofstories                 101835 non-null float64
fireplaceflag                   101835 non-null object
structuretaxvaluedollarcnt      101835 non-null float64
taxvaluedollarcnt               101835 non-null float64
assessmentyear                  101835 non-null object
landtaxvaluedollarcnt           101835 non-null float64
taxamount                       101835 non-null float64
taxdelinquencyflag              101835 non-null object
taxdelinquencyyear              101835 non-null object
censustractandblock             101835 non-null object
airconditioningdesc             101835 non-null object
architecturalstyledesc          101835 non-null object
heatingorsystemdesc             101835 non-null object
propertylandusedesc             101835 non-null object
logerror                        101835 non-null float64
transactiondate                 101835 non-null object
dtypes: float64(29), int64(2), object(17)
memory usage: 38.1+ MB

#### Impute the values in land square feet.

#### For land square feet, the goal is to impute the missing values by creating a linear model where landtaxvaluedollarcnt is the x variable and the output/y-variable is the estimated land square feet. We'll then use this model to make predictions and fill in the missing values.

#### Write a function that accepts the zillow data frame and returns the data frame with the missing values filled in.

# Explore data

#### Write a function that will take, as input, a dataframe and a list containing the column names of all ordered numeric variables. It will output, through subplots, a pairplot, a heatmap, and 1 other type of plot that will loop through and plot each combination of numeric variables (an x and a y, combination order doesn't matter here!).