In [67]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime as dt

from acquire import get_all_data

In [99]:
test_dates = pd.DataFrame(data={'date': ['08/08/88','08/09/1988','08/10/1988','08/11/1988']})
test_dates

         date
0    08/08/88
1  08/09/1988
2  08/10/1988
3  08/11/1988

In [100]:
pd.to_datetime(test_dates['date'])

0   1988-08-08
1   1988-08-09
2   1988-08-10
3   1988-08-11
Name: date, dtype: datetime64[ns]

In [4]:
df = get_all_data()

####  A function to convert a date to a datetime data type. Accepts string, list, or pd.Series

In [70]:
def convert_to_datetime(date):
    return pd.to_datetime(date, format = "%m/%d/%y", infer_datetime_format=True)

In [71]:
convert_to_datetime('08/08/88')

Timestamp('1988-08-08 00:00:00')

In [72]:
pd.to_datetime(test_dates['date'])

0   1988-08-08
1   1988-08-09
2   1988-08-10
3   1988-08-11
Name: date, dtype: datetime64[ns]

#### A function to change a datetime to UTC. Accepts string, list, or pd.Series

In [73]:
def convert_to_utc(date):
    return pd.to_datetime(date, utc=True)

In [74]:
convert_to_utc('08-08-88')

Timestamp('1988-08-08 00:00:00+0000', tz='UTC')

#### A function to parse a date column into 6 additional columns (while keeping the original date): year, quarter, month, day of month, day of week, weekend vs. weekday

In [148]:
def parse_date(date):
    new_date = pd.to_datetime(date)
    return pd.DataFrame(data={'date_original': new_date,'year': new_date.dt.year, 'quarter': new_date.dt.quarter, 'month': new_date.dt.month,'day_of_month': new_date.dt.day, 'day_of_week': new_date.dt.weekday_name, 'is_weekend':  new_date.dt.weekday_name.str.startswith('S')})

In [149]:
parse_date(test_dates['date'])

  date_original  year  quarter  month  day_of_month day_of_week  is_weekend
0    1988-08-08  1988        3      8             8      Monday       False
1    1988-08-09  1988        3      8             9     Tuesday       False
2    1988-08-10  1988        3      8            10   Wednesday       False
3    1988-08-11  1988        3      8            11    Thursday       False

#### Add a column to dataframe, sales_total, which is a derived from sale_amount (total items) and item_price.

In [150]:
df.groupby('sale_id').tail(20)

,item_id,sale_amount,sale_date,sale_id,store_id,item_brand,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_state,store_zipcode
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
5,1,12.0,"Sun, 06 Jan 2013 00:00:00 GMT",6,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
6,1,10.0,"Mon, 07 Jan 2013 00:00:00 GMT",7,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
7,1,9.0,"Tue, 08 Jan 2013 00:00:00 GMT",8,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
8,1,12.0,"Wed, 09 Jan 2013 00:00:00 GMT",9,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
9,1,9.0,"Thu, 10 Jan 2013 00:00:00 GMT",10,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
10,1,9.0,"Fri, 11 Jan 2013 00:00:00 GMT",11,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
11,1,7.0,"Sat, 12 Jan 2013 00:00:00 GMT",12,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
12,1,10.0,"Sun, 13 Jan 2013 00:00:00 GMT",13,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
13,1,12.0,"Mon, 14 Jan 2013 00:00:00 GMT",14,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
14,1,5.0,"Tue, 15 Jan 2013 00:00:00 GMT",15,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
15,1,7.0,"Wed, 16 Jan 2013 00:00:00 GMT",16,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
16,1,16.0,"Thu, 17 Jan 2013 00:00:00 GMT",17,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
17,1,7.0,"Fri, 18 Jan 2013 00:00:00 GMT",18,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
18,1,18.0,"Sat, 19 Jan 2013 00:00:00 GMT",19,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
19,1,15.0,"Sun, 20 Jan 2013 00:00:00 GMT",20,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
20,1,8.0,"Mon, 21 Jan 2013 00:00:00 GMT",21,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
21,1,7.0,"Tue, 22 Jan 2013 00:00:00 GMT",22,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
22,1,9.0,"Wed, 23 Jan 2013 00:00:00 GMT",23,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
23,1,8.0,"Thu, 24 Jan 2013 00:00:00 GMT",24,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
24,1,14.0,"Fri, 25 Jan 2013 00:00:00 GMT",25,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
25,1,12.0,"Sat, 26 Jan 2013 00:00:00 GMT",26,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
26,1,12.0,"Sun, 27 Jan 2013 00:00:00 GMT",27,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
27,1,11.0,"Mon, 28 Jan 2013 00:00:00 GMT",28,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
28,1,6.0,"Tue, 29 Jan 2013 00:00:00 GMT",29,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
29,1,9.0,"Wed, 30 Jan 2013 00:00:00 GMT",30,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912970,50,49.0,"Sat, 02 Dec 2017 00:00:00 GMT",912971,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912971,50,75.0,"Sun, 03 Dec 2017 00:00:00 GMT",912972,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912972,50,54.0,"Mon, 04 Dec 2017 00:00:00 GMT",912973,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912973,50,68.0,"Tue, 05 Dec 2017 00:00:00 GMT",912974,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912974,50,60.0,"Wed, 06 Dec 2017 00:00:00 GMT",912975,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912975,50,66.0,"Thu, 07 Dec 2017 00:00:00 GMT",912976,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912976,50,67.0,"Fri, 08 Dec 2017 00:00:00 GMT",912977,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912977,50,69.0,"Sat, 09 Dec 2017 00:00:00 GMT",912978,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912978,50,69.0,"Sun, 10 Dec 2017 00:00:00 GMT",912979,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912979,50,54.0,"Mon, 11 Dec 2017 00:00:00 GMT",912980,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912980,50,67.0,"Tue, 12 Dec 2017 00:00:00 GMT",912981,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912981,50,67.0,"Wed, 13 Dec 2017 00:00:00 GMT",912982,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912982,50,72.0,"Thu, 14 Dec 2017 00:00:00 GMT",912983,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912983,50,72.0,"Fri, 15 Dec 2017 00:00:00 GMT",912984,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912984,50,52.0,"Sat, 16 Dec 2017 00:00:00 GMT",912985,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912985,50,86.0,"Sun, 17 Dec 2017 00:00:00 GMT",912986,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912986,50,53.0,"Mon, 18 Dec 2017 00:00:00 GMT",912987,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912987,50,54.0,"Tue, 19 Dec 2017 00:00:00 GMT",912988,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912988,50,51.0,"Wed, 20 Dec 2017 00:00:00 GMT",912989,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912989,50,63.0,"Thu, 21 Dec 2017 00:00:00 GMT",912990,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912990,50,75.0,"Fri, 22 Dec 2017 00:00:00 GMT",912991,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912991,50,70.0,"Sat, 23 Dec 2017 00:00:00 GMT",912992,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912992,50,76.0,"Sun, 24 Dec 2017 00:00:00 GMT",912993,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912993,50,51.0,"Mon, 25 Dec 2017 00:00:00 GMT",912994,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912994,50,41.0,"Tue, 26 Dec 2017 00:00:00 GMT",912995,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912995,50,63.0,"Wed, 27 Dec 2017 00:00:00 GMT",912996,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912996,50,59.0,"Thu, 28 Dec 2017 00:00:00 GMT",912997,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912997,50,74.0,"Fri, 29 Dec 2017 00:00:00 GMT",912998,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912998,50,62.0,"Sat, 30 Dec 2017 00:00:00 GMT",912999,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912999,50,82.0,"Sun, 31 Dec 2017 00:00:00 GMT",913000,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231

In [170]:
for col in df.columns:
    print(col,':', df[col].dtype)

item_id : int64
sale_amount : float64
sale_id : int64
store_id : int64
item_brand : object
item_name : object
item_price : float64
item_upc12 : object
item_upc14 : object
store_address : object
store_city : object
store_state : object
store_zipcode : object
sales_total : float64
day_of_week : object
day_of_month : int64
diff_total_sales : float64

In [160]:
df['sales_total'] = df['sale_amount'] * df['item_price']

In [161]:
df.head()

,item_id,sale_amount,sale_date,sale_id,store_id,item_brand,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_state,store_zipcode,day_of_week,sales_total
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Tuesday,10.92
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Wednesday,9.24
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Thursday,11.76
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Friday,10.92
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Saturday,8.40

#### Create a new dataframe that aggregates the sales_total and sale_amount(item count) using sum and median by day of week.

In [162]:
df_new = parse_date(df.sale_date)
df_new.head()

  date_original  year  quarter  month  day_of_month day_of_week  is_weekend
0    2013-01-01  2013        1      1             1     Tuesday       False
1    2013-01-02  2013        1      1             2   Wednesday       False
2    2013-01-03  2013        1      1             3    Thursday       False
3    2013-01-04  2013        1      1             4      Friday       False
4    2013-01-05  2013        1      1             5    Saturday        True

In [163]:
df['day_of_week'] = df_new['day_of_week']

In [164]:
df.columns

Index(['item_id', 'sale_amount', 'sale_date', 'sale_id', 'store_id',
       'item_brand', 'item_name', 'item_price', 'item_upc12', 'item_upc14',
       'store_address', 'store_city', 'store_state', 'store_zipcode',
       'day_of_week', 'sales_total'],
      dtype='object')

In [169]:
def aggregate_by_weekday(df):
    return df.groupby('day_of_week')[['sales_total', 'sale_amount']].agg(['median', 'sum'])

In [170]:
aggregate_by_weekday(df)

            sales_total               sale_amount
                 median           sum      median        sum
day_of_week
Friday           250.43  3.868773e+07        50.0  7198021.0
Monday           186.76  2.896118e+07        38.0  5385853.0
Saturday         266.97  4.116177e+07        53.0  7655482.0
Sunday           282.47  4.359486e+07        57.0  8109705.0
Thursday         234.52  3.628727e+07        47.0  6749880.0
Tuesday          218.66  3.383954e+07        44.0  6293481.0
Wednesday        218.92  3.392832e+07        44.0  6312090.0

#### Explore the pandas DataFrame.diff() function. Create a new column that is the result of the current sales - the previous days sales.

In [173]:
def add_sales_difference(df):
    df['diff_from_last_day'] = df.sales_total.diff()
    return df

In [174]:
add_sales_difference(df)

,item_id,sale_amount,sale_date,sale_id,store_id,item_brand,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_state,store_zipcode,day_of_week,sales_total,diff_from_last_day
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Tuesday,10.92,NaN
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Wednesday,9.24,-1.68
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Thursday,11.76,2.52
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Friday,10.92,-0.84
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Saturday,8.40,-2.52
5,1,12.0,"Sun, 06 Jan 2013 00:00:00 GMT",6,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Sunday,10.08,1.68
6,1,10.0,"Mon, 07 Jan 2013 00:00:00 GMT",7,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Monday,8.40,-1.68
7,1,9.0,"Tue, 08 Jan 2013 00:00:00 GMT",8,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Tuesday,7.56,-0.84
8,1,12.0,"Wed, 09 Jan 2013 00:00:00 GMT",9,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Wednesday,10.08,2.52
9,1,9.0,"Thu, 10 Jan 2013 00:00:00 GMT",10,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Thursday,7.56,-2.52
10,1,9.0,"Fri, 11 Jan 2013 00:00:00 GMT",11,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Friday,7.56,0.00
11,1,7.0,"Sat, 12 Jan 2013 00:00:00 GMT",12,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Saturday,5.88,-1.68
12,1,10.0,"Sun, 13 Jan 2013 00:00:00 GMT",13,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Sunday,8.40,2.52
13,1,12.0,"Mon, 14 Jan 2013 00:00:00 GMT",14,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Monday,10.08,1.68
14,1,5.0,"Tue, 15 Jan 2013 00:00:00 GMT",15,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Tuesday,4.20,-5.88
15,1,7.0,"Wed, 16 Jan 2013 00:00:00 GMT",16,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Wednesday,5.88,1.68
16,1,16.0,"Thu, 17 Jan 2013 00:00:00 GMT",17,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Thursday,13.44,7.56
17,1,7.0,"Fri, 18 Jan 2013 00:00:00 GMT",18,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Friday,5.88,-7.56
18,1,18.0,"Sat, 19 Jan 2013 00:00:00 GMT",19,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Saturday,15.12,9.24
19,1,15.0,"Sun, 20 Jan 2013 00:00:00 GMT",20,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Sunday,12.60,-2.52
20,1,8.0,"Mon, 21 Jan 2013 00:00:00 GMT",21,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Monday,6.72,-5.88
21,1,7.0,"Tue, 22 Jan 2013 00:00:00 GMT",22,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Tuesday,5.88,-0.84
22,1,9.0,"Wed, 23 Jan 2013 00:00:00 GMT",23,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Wednesday,7.56,1.68
23,1,8.0,"Thu, 24 Jan 2013 00:00:00 GMT",24,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Thursday,6.72,-0.84
24,1,14.0,"Fri, 25 Jan 2013 00:00:00 GMT",25,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Friday,11.76,5.04
25,1,12.0,"Sat, 26 Jan 2013 00:00:00 GMT",26,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Saturday,10.08,-1.68
26,1,12.0,"Sun, 27 Jan 2013 00:00:00 GMT",27,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Sunday,10.08,0.00
27,1,11.0,"Mon, 28 Jan 2013 00:00:00 GMT",28,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Monday,9.24,-0.84
28,1,6.0,"Tue, 29 Jan 2013 00:00:00 GMT",29,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Tuesday,5.04,-4.20
29,1,9.0,"Wed, 30 Jan 2013 00:00:00 GMT",30,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Wednesday,7.56,2.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912970,50,49.0,"Sat, 02 Dec 2017 00:00:00 GMT",912971,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Saturday,254.80,-88.40
912971,50,75.0,"Sun, 03 Dec 2017 00:00:00 GMT",912972,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Sunday,390.00,135.20
912972,50,54.0,"Mon, 04 Dec 2017 00:00:00 GMT",912973,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Monday,280.80,-109.20
912973,50,68.0,"Tue, 05 Dec 2017 00:00:00 GMT",912974,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Tuesday,353.60,72.80
912974,50,60.0,"Wed, 06 Dec 2017 00:00:00 GMT",912975,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Wednesday,312.00,-41.60
912975,50,66.0,"Thu, 07 Dec 2017 00:00:00 GMT",912976,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Thursday,343.20,31.20
912976,50,67.0,"Fri, 08 Dec 2017 00:00:00 GMT",912977,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Friday,348.40,5.20
912977,50,69.0,"Sat, 09 Dec 2017 00:00:00 GMT",912978,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Saturday,358.80,10.40
912978,50,69.0,"Sun, 10 Dec 2017 00:00:00 GMT",912979,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Sunday,358.80,0.00
912979,50,54.0,"Mon, 11 Dec 2017 00:00:00 GMT",912980,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Monday,280.80,-78.00
912980,50,67.0,"Tue, 12 Dec 2017 00:00:00 GMT",912981,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Tuesday,348.40,67.60
912981,50,67.0,"Wed, 13 Dec 2017 00:00:00 GMT",912982,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Wednesday,348.40,0.00
912982,50,72.0,"Thu, 14 Dec 2017 00:00:00 GMT",912983,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Thursday,374.40,26.00
912983,50,72.0,"Fri, 15 Dec 2017 00:00:00 GMT",912984,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Friday,374.40,0.00
912984,50,52.0,"Sat, 16 Dec 2017 00:00:00 GMT",912985,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Saturday,270.40,-104.00
912985,50,86.0,"Sun, 17 Dec 2017 00:00:00 GMT",912986,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Sunday,447.20,176.80
912986,50,53.0,"Mon, 18 Dec 2017 00:00:00 GMT",912987,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Monday,275.60,-171.60
912987,50,54.0,"Tue, 19 Dec 2017 00:00:00 GMT",912988,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Tuesday,280.80,5.20
912988,50,51.0,"Wed, 20 Dec 2017 00:00:00 GMT",912989,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Wednesday,265.20,-15.60
912989,50,63.0,"Thu, 21 Dec 2017 00:00:00 GMT",912990,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Thursday,327.60,62.40
912990,50,75.0,"Fri, 22 Dec 2017 00:00:00 GMT",912991,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Friday,390.00,62.40
912991,50,70.0,"Sat, 23 Dec 2017 00:00:00 GMT",912992,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Saturday,364.00,-26.00
912992,50,76.0,"Sun, 24 Dec 2017 00:00:00 GMT",912993,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Sunday,395.20,31.20
912993,50,51.0,"Mon, 25 Dec 2017 00:00:00 GMT",912994,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Monday,265.20,-130.00
912994,50,41.0,"Tue, 26 Dec 2017 00:00:00 GMT",912995,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Tuesday,213.20,-52.00
912995,50,63.0,"Wed, 27 Dec 2017 00:00:00 GMT",912996,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Wednesday,327.60,114.40
912996,50,59.0,"Thu, 28 Dec 2017 00:00:00 GMT",912997,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Thursday,306.80,-20.80
912997,50,74.0,"Fri, 29 Dec 2017 00:00:00 GMT",912998,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Friday,384.80,78.00
912998,50,62.0,"Sat, 30 Dec 2017 00:00:00 GMT",912999,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Saturday,322.40,-62.40
912999,50,82.0,"Sun, 31 Dec 2017 00:00:00 GMT",913000,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231,Sunday,426.40,104.00

#### Write a function to set the index to be the datetime variable.

In [84]:
def set_index(df):
    return df.set_index('sale_date', inplace=True)

In [85]:
set_index(df)

In [86]:
df.head()

,item_id,sale_amount,sale_id,store_id,item_brand,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_state,store_zipcode,sales_total,day_of_week,day_of_month,diff_total_sales
sale_date,,,,,,,,,,,,,,,,,
"Tue, 01 Jan 2013 00:00:00 GMT",1,13.0,1,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,10.92,Tuesday,1,NaN
"Wed, 02 Jan 2013 00:00:00 GMT",1,11.0,2,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,9.24,Wednesday,2,-1.68
"Thu, 03 Jan 2013 00:00:00 GMT",1,14.0,3,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,11.76,Thursday,3,2.52
"Fri, 04 Jan 2013 00:00:00 GMT",1,13.0,4,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,10.92,Friday,4,-0.84
"Sat, 05 Jan 2013 00:00:00 GMT",1,10.0,5,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,8.40,Saturday,5,-2.52

In [175]:
def prepare_data(df):
    df['sales_total'] = df['sale_amount'] * df['item_price']
    df_new = parse_date(df.sale_date)
    df['year'] = df_new['year']
    df['quarter'] = df_new['quarter']
    df['month'] = df_new['month']
    df['day_of_month'] = df_new['day_of_month']
    df['day_of_week'] = df_new['day_of_week']
    df['is_weekend'] = df_new['is_weekend']
    df = set_index(df)
    df = add_sales_difference(df)
    return df