In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime as dt

from acquire import get_all_data

In [2]:
test_dates = pd.DataFrame(data={'date': ['08/08/88','08/09/1988','08-10-1988','08-11-1988'],'extra':['','','','']})
test_dates

         date extra
0    08/08/88
1  08/09/1988
2  08-10-1988
3  08-11-1988

In [3]:
df = get_all_data()

####  Write a function to convert a date to a datetime data type.

In [21]:
def convert_to_datetime(date):
    return pd.to_datetime(date, format = "%m/%d/%y", infer_datetime_format=True)

In [22]:
convert_to_datetime('08/08/88')

Timestamp('1988-08-08 00:00:00')

In [48]:
pd.to_datetime(test_dates['date'])

0   1988-08-08
1   1988-08-09
2   1988-08-10
3   1988-08-11
Name: date, dtype: datetime64[ns]

#### Write a function to change a datetime to UTC.

In [25]:
def convert_to_utc(date):
    return convert_to_datetime(date).utcnow()

In [26]:
convert_to_utc('08-08-88')

Timestamp('2019-04-18 01:56:20.847375+0000', tz='UTC')

#### Write a function to parse a date column into 6 additional columns (while keeping the original date): year, quarter, month, day of month, day of week, weekend vs. weekday

In [53]:
def parse_date(date):
    new_date = pd.to_datetime(date)
    return pd.DataFrame(data={'date_original': new_date,'year': new_date.dt.year, 'quarter': new_date.dt.quarter, 'month': new_date.dt.month,'day_of_month': new_date.dt.day, 'day_of_week': new_date.dt.weekday_name})

In [54]:
parse_date(test_dates['date'])

  date_original  year  quarter  month  day_of_month day_of_week
0    1988-08-08  1988        3      8             8      Monday
1    1988-08-09  1988        3      8             9     Tuesday
2    1988-08-10  1988        3      8            10   Wednesday
3    1988-08-11  1988        3      8            11    Thursday

#### Add a column to your dataframe, sales_total, which is a derived from sale_amount (total items) and item_price.

#### Create a new dataframe that aggregates the sales_total and sale_amount(item count) using sum and median by day of week.

#### Explore the pandas DataFrame.diff() function. Create a new column that is the result of the current sales - the previous days sales.

#### Write a function to set the index to be the datetime variable.